extends ../../layout 
block content  
  div(class="content-wrapper")
    section(class="content-header")
      h1 Inicio
        small Página del Comedero
      ol(class="breadcrumb")
        li
          a(href="#") 
            i(class="fa fa-dashboard") Inicio
        li(class="active") Página del Comedero
    section(class="content")
      div(class="row")
        div(class="col-md-12") 
          div(class="box")
            div(class="box-header with-border")
              h3(class="box-title") Registro del Comedero
            form(class="form-horizontal")
              div(class="box-body")
                div(class="col-lg-3 col-xs-6")
                  div(class="small-box bg-maroon")
                    div(class="inner")
                      //for nivel in NivelActual
                        if nivel == null  
                          h3 0
                        else 
                          h3=nivel 
                      p Nivel Actual del Tanque 
                    div(class="icon")
                      i(class="fa fa-signal")
                    a(href="#" class="small-box-footer") Actualizar 
                      i(class="fa fa-refresh")
                div(class="col-lg-3 col-xs-6")
                  div(class="small-box bg-teal")
                    div(class="inner")
                      h3 5%
                      p Nivel Mínimo 
                    div(class="icon")
                      i(class="fa fa-sort-amount-desc")
                    a(href="#" class="small-box-footer") Ajustar Nivel Mínimo   
                      i(class="fa fa-arrow-circle-right")
                div(class="col-lg-3 col-xs-6")
                  <!-- small box -->
                  div(class="small-box bg-gray")
                    div(class="inner")
                      //for peso in PesoaDescargar
                        if peso == null  
                          h3 0
                        else 
                          h3=peso kg
                      p Peso a descargar(Ración)  
                    div(class="icon")
                      i(class="fa fa-bitbucket")
                    a(href="#" class="small-box-footer") Ajustar Peso de la Ración 
                      i(class="fa fa-arrow-circle-right")
                div(class="col-lg-3 col-xs-6")
                  div(class="small-box bg-orange")
                    div(class="inner") 
                      if horas == null  
                        h3 0
                      else 
                        h3=horas
                      p Hora actual del comedero 
                    div(class="icon")
                      i(class="fa fa-clock-o")
                    a(href="#" class="small-box-footer") Ajustar Hora del Comedero 
                      i(class="fa fa-arrow-circle-right")
                div(class="col-lg-3 col-xs-6")
                  div(class="small-box bg-primary")
                    div(class="inner")
                      h3 -1%
                      p Nivel Máximo del Tanque  
                    div(class="icon")
                      i(class="fa fa-hourglass-start")
                    a(href="#" class="small-box-footer") Ajustar Nivel actual a 100% 
                      i(class="fa fa-arrow-circle-right")
                div(class="col-lg-3 col-xs-6")
                  div(class="small-box bg-purple")
                    div(class="inner")
                      h3 -44%
                      p Nivel Mínimo del Tanque   
                    div(class="icon")
                      i(class="fa fa-hourglass-3")
                    a(href="#" class="small-box-footer") Ajustar Nivel actual a 0%  
                      i(class="fa fa-arrow-circle-right")
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-widget widget-user-2")
            div(class="widget-user-header bg-black")
              h3(class="widget-user-username") Comandos para el comedero              
            div(class="box-footer no-padding") 
              ul(class="nav nav-stacked") 
                li
                  a(href="#") Liberar Ración Manualmente
                    span(class="pull-right badge bg-gray")  
                      i(class="fa fa-hand-paper-o")                    
                li
                  a(href="#") Abrir Compuerta Manualmente
                    span(class="pull-right badge bg-gray") 
                      i(class="fa fa-key") 
                li
                  a(href="#") Cerrar Compuerta Manualmente  
                    span(class="pull-right badge bg-gray")
                      i(class="fa fa-lock")
                li
                  a(href="#") Ajustar Horario de Raciones 
                    span(class="pull-right badge bg-gray")
                      i(class="fa fa-clock-o")

                    
                 
              