extends ../../layout 
block content  
  div(class="content-wrapper")
    section(class="content-header")
      h1 Inicio
        small P치gina del Comedero
      ol(class="breadcrumb")
        li
          a(href="#") 
            i(class="fa fa-dashboard") Inicio
        li(class="active") P치gina del Comedero
    section(class="content")
      div(class="row")
        div(class="col-md-12") 
          div(class="box")
            div(class="box-header with-border")
              h3(class="box-title") Registro del Comedero
            form(class="form-horizontal")
              div(class="box-body")
                div(class="col-lg-4 col-xs-6")
                  div(class="small-box bg-maroon")
                    div(class="inner")
                      if niveles == null  
                        h3 0
                      else 
                        h3=niveles
                      p Nivel Actual del Tanque 
                    div(class="icon")
                      i(class="fa fa-signal")
                    a(href="#" class="small-box-footer")  
                      //i(class="fa fa-refresh")
                div(class="col-lg-4 col-xs-6")
                  <!-- small box -->
                  div(class="small-box bg-gray")
                    div(class="inner")
                      if pesoRacion == null  
                        h3 0
                      else 
                        h3=pesoRacion
                      p Peso a descargar(Raci칩n)  
                    div(class="icon")
                      i(class="fa fa-bitbucket")
                    a(href="#" class="small-box-footer") 
                      //i(class="fa fa-arrow-circle-right")
                div(class="col-lg-4 col-xs-6")
                  div(class="small-box bg-green")
                    div(class="inner") 
                      if horas == null  
                        h3 0
                      else 
                        h3=horas
                      p Hora actual del comedero 
                    div(class="icon")
                      i(class="fa fa-clock-o")
                    a(href="#" class="small-box-footer")
                      //i(class="fa fa-arrow-circle-right")
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-widget widget-user-2")
            div(class="widget-user-header bg-black")
              h3(class="widget-user-username") Comandos para el comedero              
            div(class="box-footer no-padding") 
              ul(class="nav nav-stacked") 
                li
                  a(id="liberar" href="/liberar" role="button") Liberar Raci칩n Manualmente
                    span(class="pull-right badge bg-gray")  
                      i(class="fa fa-hand-paper-o")                    
                li
                  a(id="abrir" href="/abrir" role="button") Abrir Compuerta Manualmente
                    span(class="pull-right badge bg-gray") 
                      i(class="fa fa-key") 
                li
                  a(id="cerrar" href="/cerrar" role="button") Cerrar Compuerta Manualmente  
                    span(class="pull-right badge bg-gray")
                      i(class="fa fa-lock")