extends ../../layout 
block content
  body(class="hold-transition login-page")
    div(class="login-box")
      div(class="login-logo")
        a(href="/principal") LTE
          b Admin
      div(class="login-box-body") 
        p(class="login-box-msg") Sign in to start your session
        form(action='/web/signin/ver' method="POST")
          div(class="form-group has-feedback")
            input(type="email" class="form-control" placeholder="Email") 
            span(class="glyphicon glyphicon-envelope form-control-feedback") 
          div(class="form-group has-feedback")
            input(type="password" class="form-control" placeholder="Password")
            span(class="glyphicon glyphicon-lock form-control-feedback")
          div(class="row")
            div(class="col-xs-8")
              div(class="checkbox icheck")
                label
                  input(type="checkbox") Recordarme
                
            div(class="col-xs-4")
              button(type="submit" class="btn btn-primary btn-block btn-flat") Ingresar

        div(class="social-auth-links text-center")
          p OR 
          a(href="#" class="btn btn-block btn-social btn-facebook btn-flat")
            i(class="fa fa-facebook") Sign in using Facebook
          a(href="#" class="btn btn-block btn-social btn-google btn-flat")
            i(class="fa fa-google-plus") Sign in using Google+

        a(href="#") I forgot my password
        a(href="/web/signup" class="text-center") Register a new membership
