extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
    form(action='/web/facturaCompra/add' method="POST")
     div(class="form-group")
      label(for="fechaCompra") Fecha de la Compra
      input(type="text" class="form-control" id="fechaCompra" name='fechaCompra' value='facturaCompra.fechaCompra' placeholder="Ingrese la Fecha")

     div(class="form-group")
      label(for="totalCompra") Monto Total de la Compra
      input(type="text"  class="form-control" id="totalCompra" name='totalCompra' value='facturaCompra.totalCompra' placeholder="Ingrese el Monto Total") 

     div(class="form-group")
      label(for="condicionCompra") Condicion de la Compra
      input(type="text" class="form-control" id="condicionCompra" name='condicionCompra' value='Contado' placeholder="Ingrese la Condicion")

     div(class="form-group")
      label(for="formaPago") Forma de Pago
      input(type="text"  class="form-control" id="formaPago" name='formaPago' value='facturaCompra.formaPago' placeholder="Ingrese la Forma de Pago")
     
     div(class="form-group")
      label(for="numeroCompra") Numero de Compra
      input(type="text" class="form-control" id="numeroCompra" name='numeroCompra' value='facturaCompra.numeroCompra' placeholder="Ingrese el Numero de Compra")

     div(class="form-group")
      label(for="horaCompra") Hora de la Compra
      input(type="text" class="form-control" id="horaCompra" name='horaCompra' value='facturaCompra.horaCompra' placeholder="Ingrese la Hora de la Compra") 
      
     div(class="form-group")
        label(class="control-label col-sm-2" for="email") Proveedor: 
        div(class="col-sm-10")  
          select(name='selectJ')
            option(value="-1" selected) Seleccione Proveedor
            -for(var j=0; j < selectJ.length; j++) {
              option(value="#{selectJ[j].idProveedor}") #{selectJ[j].nombreProveedor}
            -}    

     button(type="submit" value="submit") Agregar Factura Compra
      a(href="/web/facturaCompra" class="btn btn-info" role="button")
      p(data-placement="top" data-toggle="tooltip" title="List")
        button(type="button" class="btn btn-info") Listo
