form(action='/web/detalleVenta/add' method="POST")
  input(type="hidden" name='id' value='#{ventaJ}')
  div(class="form-group")
    label(for="descripcionVenta") Descripcion Venta
    input(type="text" class="form-control" id="descripcionVenta" name='descripcionVenta' value='detalleVenta.descripcionVenta' placeholder="Ingrese la Descripcion")
  div(class="form-group")
    label(for="precioVenta") Precio Venta
    input(type="text"  class="form-control" id="precioVenta" name='precioVenta' value='detalleVenta.precioVenta' placeholder="Ingrese el Precio") 
  div(class="form-group")
    label(for="cantidadVenta") Cantidad Venta
    input(type="text"  class="form-control" id="cantidadVenta" name='cantidadVenta' value='detalleVenta.cantidadVenta' placeholder="Ingrese la Cantidad")       
  div(class="form-group")
    label(class="col-sm-4 control-label" for="email") Subtotal
    div(class="col-sm-8")
      input(type="text"  class="form-control" id="subtotalVenta" name='subtotalVenta' placeholder="Ingrese el Subtotal")
  button(type="submit" value="submit") Agregar Detalle Venta

