extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle de Venta de Animales
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Tabla de Detalle de Venta de Animales Registrados
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Tabla de Detalle de Venta de Animales Registrados
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr
                      th(class="cell-stat text-center") Descripción
                      th(class="cell-stat text-center") Precio
                      th(class="cell-stat text-center") Cantidad 
                      th(class="cell-stat text-center") SubTotal 
                  tbody
                    for detalleVenta in detalleVentas
                      tr
                        td(class="text-center")=detalleVenta.descripcionVenta
                        td(class="text-center")=detalleVenta.precioVenta
                        td(class="text-center")=detalleVenta.cantidadVenta
                        td(class="text-center")=detalleVenta.subtotalVenta