extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
    form(action='/web/muertes/add' method="POST")
     div(class="form-group")
      label(for="fechaMuerte") Ingrese la Fecha de la Muerte
      input(type="text" class="form-control" id="fechaMuerte" name='fechaMuerte' value='muertes.fechaMuerte' placeholder="Ingrese la Fecha de la Muerte")

     div(class="form-group")
      label(for="horaMuerte") Ingrese la Hora de la Muerte
      input(type="text"  class="form-control" id="horaMuerte" name='horaMuerte' value='muertes.horaMuerte' placeholder="Ingrese la Hora de la Muerte") 

     div(class="form-group")
      label(for="cantidadTotal") Ingrese la Cantidad Total 
      input(type="text"  class="form-control" id="cantidadTotal" name='cantidadTotal' value='muertes.cantidadTotal' placeholder="Ingrese la Cantidad Total") 

     div(class="form-group")
        label(class="control-label col-sm-2" for="email") Empleado: 
        div(class="col-sm-10")  
          select(name='selectJ')
            option(value="-1" selected) Seleccione Empleado
            -for(var j=0; j < selectJ.length; j++) {
              option(value="#{selectJ[j].idEmpleado}") #{selectJ[j].nombreEmpleado}
            -} 
     div(class="form-group")
        label(class="control-label col-sm-2" for="email") Proveedor: 
        div(class="col-sm-10")  
          select(name='selectN')
            option(value="-1" selected) Seleccione Proveedor
            -for(var j=0; j < selectN.length; j++) {
              option(value="#{selectN[j].idProveedor}") #{selectN[j].nombreProveedor}
            -}   


     button(type="submit" value="submit") Agregar Muerte