extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Personal
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Personal
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registro Personal
            form(class="form-horizontal" action='/web/empleado/cargar' method="POST")
              div(class="box-body")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Cédula: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="cedulaEmpleado" name='cedulaEmpleado' placeholder="Ingrese la Cédula")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="nombreEmpleado" name='nombreEmpleado' placeholder="Ingrese el Nombre")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Código de la Llave: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="codigoLlave" name='codigoLlave' placeholder="Ingrese el Código")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Dirección: 
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="direccionEmpleado" name='direccionEmpleado' placeholder="Ingrese la Dirección") 
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Ciudad: 
                  div(class="col-sm-8")
                      select(name='selectJ' class="btn btn-default select2")
                        option(value="-1" selected) Seleccione una opción
                        -for(var j=0; j < selectJ.length; j++) {
                          option(value="#{selectJ[j].idCiudad}") #{selectJ[j].ciudad}
                        -}  
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/empleado" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")

                    