extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle de la Compra 
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Detalle
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Detalle de la Compra   
            form(class="form-horizontal" action='/web/detalleCompraServicios/cargar' method="POST")
              div(class="box-body")
                for facturaCompras in facturaCompraJ
                  input(type="hidden" name='id' value='#{facturaCompras.idCompra}')
                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Servicio: 
                  div(class="col-sm-8")  
                    select(name='selectJ' class="btn btn-default select2")
                      option(value="-1" selected) Seleccione una opción
                      -for(var j=0; j < selectJ.length; j++) {
                        option(value="#{selectJ[j].idServicios}") #{selectJ[j].servicios}
                      -}
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Precio Compra
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="precioCompra" name='precioCompra' placeholder="Ingrese el Precio") 
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Cantidad Compra
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="cantidadCompra" name='cantidadCompra' placeholder="Ingrese la Cantidad")
                

              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/facturaCompraServicios" class="btn btn-default") Listo
                    i(class="fa fa-check")        