extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle Extraviado del Animal
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Detalle Extraviado del Animal
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registro Detalle Extraviado del Animal
            form(class="form-horizontal" action='/web/detalleExtraviado/add' method="POST")
              div(class="box-body")
                input(type="hidden" name='id' value='#{extraviadoJ}')
                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Rp Animal 
                  div(class="col-sm-8")  
                    select(name='selectJ' class="btn btn-default select2")
                      option(value="-1"  disabled="disabled" selected) Seleccione una opción
                      -for(var j=0; j < selectJ.length; j++) {
                        option(value="#{selectJ[j].idAnimal}") #{selectJ[j].rpAnimal}
                      -} 
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Observación
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="observacionExtraviado" name='observacionExtraviado' placeholder="Ingrese la Observación" required) 
                
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/extraviado" class="btn btn-default") Listo
                    i(class="fa fa-remove")