form(action='/web/detalleExtraviado/cargar' method="POST")
  for extraviados in extraviadoJ
    input(type="hidden" name='id' value='#{extraviados.idExtraviado}')

  div(class="form-group")
    label(for="observacionExtraviado") Observacion
    input(type="text"  class="form-control" id="observacionExtraviado" name='observacionExtraviado' value='detalleExtraviado.observacionExtraviado' placeholder="Ingrese el Pesaje") 

    //detalle del pesaje
  div(class="form-group")
    label(class="control-label col-sm-2" for="email") Rp Animal: 
    div(class="col-sm-10")  
      select(name='selectJ')
        option(value="-1" selected) Seleccione Rp
        -for(var j=0; j < selectJ.length; j++) {
          option(value="#{selectJ[j].idAnimal}") #{selectJ[j].rpAnimal}
        -}  	       
  
  button(type="submit" value="submit") Agregar Detalle Extraviado

a(href="/web/extraviado" class="btn btn-info" role="button")
  p(data-placement="top" data-toggle="tooltip" title="List")
    button(type="button" class="btn btn-info") Listo

