extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
    form(action='/web/extraviado/add' method="POST")
     div(class="form-group")
      label(for="fechaExtraviado") Fecha Extraviado
      input(type="text" class="form-control" id="fechaExtraviado" name='fechaExtraviado' value='extraviado.fechaExtraviado' placeholder="Ingrese la Fecha")

     div(class="form-group")
      label(for="horaExtraviado") Hora Extraviado
      input(type="text"  class="form-control" id="horaExtraviado" name='horaExtraviado' value='extraviado.horaExtraviado' placeholder="Ingrese la Hora") 

     div(class="form-group")
      label(for="lugarExtraviado") Lugar Extraviado
      input(type="text" class="form-control" id="lugarExtraviado" name='lugarExtraviado' value='extraviado.lugarExtraviado' placeholder="Ingrese el Lugar")

     div(class="form-group")
        label(class="control-label col-sm-2" for="email") Empleado: 
        div(class="col-sm-10")  
          select(name='selectJ')
            option(value="-1" selected) Seleccione Empleado
            -for(var j=0; j < selectJ.length; j++) {
              option(value="#{selectJ[j].idEmpleado}") #{selectJ[j].nombreEmpleado}
            -}    
     button(type="submit" value="submit") Agregar Extraviado
  

    
  
