extends ../../layout 
block content
  div(class="content-wrapper")
      section(class="content-header")
        h1 Consumo del Animal
        ol(class="breadcrumb")
          li
            a(href="#")
              i(class="fa fa-dashboard") Registros
          li(class="active") Agregar Consumo
      section(class="content")
        div(class="row")  
          div(class="col-md-12") 
            div(class="box box-success")
              div(class="box-header with-border")
                h3(class="box-title") Consumo del Animal
              form(class="form-horizontal" action='/web/consumo/add' method="POST")
                div(class="box-body")
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="fechaConsumo") Fecha del Consumo
                    div(class="col-sm-8")
                      div(class="input-group date")
                        div(class="input-group-addon")
                          i(class="fa fa-calendar")  
                        input(type="text"  class="form-control pull-right" id="datepicker" name='fechaConsumo' required)
                  div(class="form-group")  
                    label(class="col-sm-4 control-label" for="horaConsumo") Hora del Consumo
                    div(class="col-sm-8")
                      div(class="bootstrap-timepicker")
                        div(class="input-group")
                          div(class="input-group-addon")
                            i(class="fa fa-clock-o")
                          input(type="text" class="form-control timepicker" name='horaConsumo' required)
                  div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Insumo: 
                  div(class="col-sm-8")  
                    select(id="selectJ" name='selectJ' class="btn btn-default select2")
                      option(value="-1" disabled="disabled" selected) Seleccione una opción
                      -for(var j=0; j < selectJ.length; j++) {
                        option(value="#{selectJ[j].idInsumo}") #{selectJ[j].nombreInsumo}
                      -}     
                div(class="box-footer")
                  div(class="btn-group pull-right")
                    button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                      i(class="fa fa-save") 
                    a(href="/web/consumo" class="btn btn-default") Cancelar
                      i(class="fa fa-remove")