<table>
    {{#each animal}}
        <tr>
            <td style='text-align: center; padding: 15px;'>{{Count}}</td>
            <td style='text-align: center; padding: 15px;'>{{raza}}</td>
        </tr>
    {{/each}}
</table>
