extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
	form(action='/web/stock/cargar' method="POST")
	 for stocks in stockJ
	    input(type="hidden" name='id' value='#{stocks.idDetalleCompra}')
	 div(class="form-group")
	  label(for="cantidad") Cantidad
	  input(type="text" class="form-control" id="cantidad" name='cantidad' value='stock.cantidad' placeholder="Ingrese Cantidad")
	 div(class="form-group")
	  label(for="lote") Lote
	  input(type="text" class="form-control" id="lote" name='lote' value='stock.lote' placeholder="Ingrese Lote")
	 div(class="form-group")
	  label(for="cantidadMinima") Cantidad Minima
	  input(type="text" class="form-control" id="cantidadMinima" name='cantidadMinima' value='stock.cantidadMinima' placeholder="Ingrese Cantidad Minima")

	 button(type="submit" value="submit") Agregar Stock