extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle Sanitación del Animal(Animales)
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Detalle Sanitación del Animal
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registro Detalle Sanitación del Animal
            form(class="form-horizontal" action='/web/detalleSanitacion/cargar' method="POST")
              div(class="box-body") 
                for sanitaciones in sanitacionJ
                  input(type="hidden" name='id' value='#{sanitaciones.idSanitacion}')
                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Observación: 
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="observacionSanitacion" name='observacionSanitacion' placeholder="Ingrese la Observación" required)
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/detalleSanitacion/cargar" class="btn btn-primary") Leer Etiqueta  
                    i(class="fa fa-refresh")
                  a(href="/web/sanitacion" class="btn btn-default") Listo
                    i(class="fa fa-remove")