<!-- Preloader -->
div(id="preloader")
    div(class="loader")
        span
        span
        span
        span
<!-- home-page -->
div(class="home-page")
    <!-- Introduction -->
    div(class="introduction")
        div(class="intro-content")
            h1 Hi, We are
            span boots
            span(class="number") 4
            p(class="slogan-text text-capitalize") leading creative tech company
            div(class="social-media hidden-xs")
                a(href="#" class="fa fa-facebook" data-toggle="tooltip" title="Facebook")
                a(href="#" class="fa fa-twitter" data-toggle="tooltip" title="Twitter")
                a(href="#" class="fa fa-plus" data-toggle="tooltip" title="Google+")
                a(href="#" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin")
                a(href="#" class="fa fa-behance" data-toggle="tooltip" title="Behance")
                a(href="#" class="fa fa-flickr" data-toggle="tooltip" title="Flicker")
                a(href="#" class="fa fa-instagram" data-toggle="tooltip" title="Instagram")
        <!-- Social Media Icons [ END ] -->        
    <!-- Navigation Menu -->
    div(class="menu")
        div(data-url_target="about_us" class="profile-btn menu_button")
            img(alt="" src="/img/about.jpg" style="width:100%; height:100%;")
            div(class="mask")
            div(class="heading")
                i(class="ion-ios-people-outline hidden-xs")
                h2 About Us            
        <!-- Single Navigation Menu Button -->
        div(data-url_target="portfolio" class="portfolio-btn menu_button")
            img(alt="" src="/img/portfolio.jpg")
            div(class="mask")
            div(class="heading")
                i(class="ion-ios-briefcase-outline hidden-xs")
                h2 Portfolio            
        <!-- Single Navigation Menu Button [ END ]  -->
        div(data-url_target="service" class="service-btn menu_button")
            img(alt="" src="/img/service.jpg")
            div(class="mask")
            div(class="heading")
                i(class="ion-ios-lightbulb-outline hidden-xs")
                h2 Services
        <!-- Single Navigation Menu Button [ END ]  -->
        div(data-url_target="contact" class="contact-btn menu_button")
            img(alt="" src="/img/contact.jpg")
            div(class="mask")
            div(class="heading")
                i(class="ion-ios-chatboxes-outline hidden-xs")
                h2 Contact
        <!-- Single Navigation Menu Button [ END ]  -->    
<!--4 ) Close Button-->
div(class="close-btn")
<!--5 ) Profile Page-->
div(id="about_us" class="profile-page container-fluid page")
    div(class="row")
        <!--( a ) Profile Page Fixed Image Portion -->
        div(class="image-container col-md-3 col-sm-12")
            div(class="mask")
            div(class="main-heading")
                h1 About us
        <!--( b ) Profile Page Content -->
        div(class="content-container col-md-9 col-sm-12")
            <!--( A ) Story of Glory -->
            div(class="clearfix")
                h2(class="small-heading") LEARN ABOUT US
                div(class="row") 
                    div(class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-12")
                                div(class="video embed-responsive embed-responsive-4by3")
                                    iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/qTSDL94_Y7M" allowfullscreen)
                            div(class="col-md-6 col-sm-12")
                                div(class="about-us-desc")
                                    p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor
                                    
                                    p Faliquam hendrerit a augue in suscipit. Pellen tesque id erat quis sapien a dignissim sollicitu din. Nulla B-4 mattis tortor sit amet lorem dolor  amer sollicitudin aliquam dignissim so much.Ut cursus massa at urnaac assin got pressed hadrtits lis estie. Sed aliquamellus tae ultrices condimentum, the Bootstrap 4 leo massa mollis estiegittis miristum nu endrerit a augue in su cipit.Pe lla eo massa mlli joss mama.
            <!--( B ) What Can I Do -->
            div(class="clearfix")
                h2(class="small-heading") OUR FUN FACTS
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-12")
                        div(class="row")
                            div(class="services col-md-4  col-xs-12")
                                div(class="facts")
                                    div(class="facts-overlay")
                                        i(class="fa fa-code fa-3x")
                                        p(class="count") 1956628
                                        p(class="text-capitalize") lines of code
                            <!-- Single Service Item [ END ]  -->
                            div(class="services col-md-4  col-xs-12")
                                div(class="facts")
                                    div(class="facts-overlay")
                                        i(class="fa fa-coffee fa-3x")
                                        p(class="count") 1473
                                        p(class="text-capitalize") cups of coffee
                            <!-- Single Service Item [ END ]  -->
                            div(class="services col-md-4  col-xs-12")
                                div(class="facts")
                                    div(class="facts-overlay")
                                        i(class="fa fa-cubes fa-3x") 
                                        p(class="count") 500
                                        p(class="text-capitalize") projects delivered
                            <!-- Single Service Item [ END ]  -->
            div(class="clearfix full-height") 
                h2(class="small-heading") MEET THE TEAM
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="team-member-box center-block text-center")
                                    img(src="/img/team_member1.jpg" class="img-responsive")
                                    h4(class="text-capitalize") loras tyrel
                                    p(class="text-uppercase") founder and ceo
                            div(class="col-md-4 col-xs-12")
                                div(class="team-member-box center-block text-center")
                                    img(src="/img/team_member2.jpg" class="img-responsive")
                                    h4(class="text-capitalize") john snow
                                    p(class="text-uppercase") head of attorney
                            div(class="col-md-4 col-xs-12")
                                div(class="team-member-box center-block text-center")
                                    img(src="/img/team_member3.jpg" class="img-responsive")
                                    h4(class="text-capitalize") sansa stark
                                    p(class="text-uppercase") creative coder
            <!--( D ) Footer -->
            div(class="footer clearfix")
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="copyright") Copyright &copy; 2015
                                    a(href="#") Your Company
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="author") Theme by 
                                    a(href="https://themewagon.com/" target="_blank") ThemeWagon
div(id="portfolio" class="portfolio-page container-fluid page")
    div(class="row")
        <!--( a ) Portfolio Page Fixed Image Portion -->
        div(class="image-container col-md-3 col-sm-12")
            div(class="mask")
            div(class="main-heading")
                h1 Portfolio
        <!--( b ) Portfolio Page Content -->
        div(class="content-container col-md-9 col-sm-12")
            <!--( A ) Portfolio -->
            div(class="portfolio clearfix full-height")
                h2(class="small-heading") PORTFOLIO
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="project-container")
                            div(class="row")
                                div(class="project-controls")
                                    button(class="filter" data-filter="all") All
                                    button(class="filter" data-filter=".graphic-design") Graphic Design
                                    button(class="filter" data-filter=".web-design") Web Designs
                                    button(class="filter" data-filter=".app-development") App Development
                                <!-- Portfolio Control Buttons [ END ] -->
                                div(id="projects" class="projet-items clearfix")
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_1.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-1" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-1")
                                        img(alt="" src="/img/portfolio/image_1.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_2.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-2" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-2")
                                        img(alt="" src="/img/portfolio/image_2.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_3.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-3" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-3")
                                        img(alt="" src="/img/portfolio/image_3.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_4.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-4" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-4")
                                        img(alt="" src="/img/portfolio/image_4.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->                                        
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_5.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-5" class="fa fa-search show-popup")
                                    <!-- Popup Content -->                                        
                                    div(class="pop-up-box" id="portfolio-5")
                                        img(alt="" src="/img/portfolio/image_5.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_6.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-6" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-6")
                                        img(alt="" src="/img/portfolio/image_6.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_7.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-7" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-7")
                                        img(alt="" src="/img/portfolio/image_7.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_8.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-8" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-8")
                                        img(alt="" src="/img/portfolio/image_8.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->                                        
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_9.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-9" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-9")
                                        img(alt="" src="/img/portfolio/image_9.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
                                    <!-- Portfolio Image -->
                                    
                                    div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                        div(class="project")
                                            img(src="/img/portfolio/thumbs/image_10.jpg" alt="")
                                            div(class="ovrly")
                                            div(class="buttons")
                                                a(href="#" class="fa fa-link")
                                                a(href="#portfolio-10" class="fa fa-search show-popup")
                                    <!-- Popup Content -->
                                    div(class="pop-up-box" id="portfolio-10")
                                        img(alt="" src="/img/portfolio/image_10.jpg" class=" hidden-xs")
                                        div(class="popup-content")
                                            h3 PROJECT NAME
                                            p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                            a(href="#") PREVIEW
                                    <!-- Single Portfolio Item [ END ] -->
            <!-- Footer -->
            div(class="footer clearfix")
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="copyright") Copyright &copy; 2015 
                                    a(href="#") Your Company
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="author") Theme by 
                                    a(href="https://themewagon.com/" target="_blank") ThemeWagon        
<!-- 7 ) Service Page-->    
div(id="service" class="service-page container-fluid page")
    div(class="row")
        <!--( a ) Portfolio Page Fixed Image Portion -->
        div(class="image-container col-md-3 col-sm-12")
            div(class="mask")
            div(class="main-heading")
                h1 Service
        <!--( b ) Portfolio Page Content -->
        div(class="content-container col-md-9 col-sm-12")
            <!--( A ) Portfolio -->
            
            div(class="clearfix")
                h2(class="small-heading") WHAT WE DO BEST
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-sm-12")
                        div(class="row")

                            div(class="col-md-4 col-sm-12")
                                div(class="faq-desc-item")
                                    div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                        div(class="flipper")
                                            div(class="front")
                                                i(class="fa fa-mobile")
                                                h5 Applications
                                            div(class="back")
                                                h5 Applications
                                                p Mozilla Web Developer, MooTools &amp; jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.
                            div(class="col-md-4 col-sm-12")
                                div(class="faq-desc-item")
                                    div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                        div(class="flipper")
                                            div(class="front")
                                                i(class="fa fa-lightbulb-o")
                                                h5 Productions
                                            div(class="back")
                                                h5 Productions
                                                p Mozilla Web Developer, MooTools &amp; jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.
                            div(class="col-md-4 col-sm-12")
                                div(class="faq-desc-item")
                                    div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                        div(class="flipper")
                                            div(class="front")
                                                i(class="fa fa-paint-brush")
                                                h5 Web Designing
                                            div(class="back")
                                                h5 Web Designing
                                                p Mozilla Web Developer, MooTools &amp; jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.
            div(class="clearfix")
                h2(class="small-heading") CHOSSE YOUR PLAN
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                div(class="price-box")
                                    p(class="pricing-catagory-name") Basic
                                    p
                                        span(class="price") $19 /Month
                                    ul
                                        li 15 Projects
                                        li 30 GB Storage
                                        li(class="unavailabe") Unlimited Data Transfer
                                        li(class="unavailabe") 50 GB Bandwith
                                        li(class="unavailabe") Enhanced Security
                                    a(href="#" class="btn") learn more
                            div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                div(class="price-box")
                                    p(class="pricing-catagory-name") Business
                                    p
                                        span(class="price") $29 /Month
                                    ul 
                                        li 15 Projects
                                        li 30 GB Storage
                                        li Unlimited Data Transfer
                                        li (class="unavailabe")50 GB Bandwith
                                        li (class="unavailabe")Enhanced Security
                                    a(href="#" class="btn") learn more
                            div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                div(class="price-box")
                                    p(class="pricing-catagory-name") Premium
                                    p
                                        span(class="price")$39 /Month
                                    ul
                                        li 15 Projects
                                        li 30 GB Storage
                                        li Unlimited Data Transfer
                                        li 50 GB Bandwith
                                        li(class="unavailabe") Enhanced Security                                       
                                    a(href="#" class="btn") learn more
                            div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                div(class="price-box")
                                    p(class="pricing-catagory-name") Ultimate
                                    p
                                        span(class="price") $49 /Month
                                    ul
                                        li 15 Projects
                                        li 30 GB Storage
                                        li Unlimited Data Transfer
                                        li 50 GB Bandwith
                                        li Enhanced Security
                                    a(href="#" class="btn") learn more
            <!-- end: pricing section -->
            div(class="clearfix full-height") 
                h2(class="small-heading") OUR VALUABLE CLIENTS
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(id="sponsor-list" class="owl-carousel owl-theme")

                            div(class="item")
                                img(src="/img/sponsor1.png" alt="sponsor1" class="center-block" style="width: 165px; height: 127px;")
                            div(class="item")
                                img(src="/img/sponsor2.png" alt="sponsor2" class="center-block" style="width: 165px; height: 127px;")
                            div(class="item")
                                img(src="/img/sponsor3.png" alt="sponsor3" class="center-block" style="width: 165px; height: 127px;")
                            div(class="item")
                                img(src="/img/sponsor4.png" alt="sponsor4" class="center-block" style="width: 165px; height: 127px;" )
                            div(class="item")
                                img(src="/img/sponsor5.png" alt="sponsor5" class="center-block" style="width: 165px; height: 127px;")
                            div(class="item")
                                img(src="/img/sponsor6.png" alt="sponsor6" class="center-block" style="width: 165px; height: 127px;")
            <!-- end: valuable clients -->
            <!-- Footer -->
            div(class="footer clearfix")
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="copyright") Copyright &copy; 2015 
                                    a(href="#") Your Company
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="author") Theme by 
                                    a(href="https://themewagon.com/" target="_blank") ThemeWagon
<!--8 ) Contact Page-->
div(id="contact" class="contact-page container-fluid page")
    div(class="row")
        <!--( a ) Contact Page Fixed Image Portion -->
        div(class="image-container col-md-3 col-sm-12")
            div(class="mask")
            div(class="main-heading")
                h1 contact
        <!--( b ) Contact Page Content -->
        div(class="content-container col-md-9 col-sm-12") 
            <!--( A ) Contact Form -->
            div(class="clearfix full-height")
                h2(class="small-heading") COME IN TOUCH
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="contact-info")
                            div(class="row")
                                div(class="col-md-6")
                                    div(class="data")
                                        i(class="fa fa-map-marker")
                                        span House -3, Road-2, Block - F, 
                                        br 
                                        span Akhalia Ghat R/A, Sylhet. 
                                        br
                                    div(class="data")
                                        i(class="fa fa-envelope")
                                        span hello@boots4.com
                                    div(class="data")
                                        i(class="fa fa-phone")
                                        span +880 12345 - 67890
                                div(class="col-md-6")
                                    div(id="map-canvas")
                        div(class="row")
                            form(id="contactForm" class="contact-form" method="post" action="https://d2zav2bjdlctd5.cloudfront.net/theme_preview/Boots4_HTML/php/contact.php")                                    
                                div(class="col-md-6 col-sm-6")
                                    div(class="form-group")
                                        input(name="name" type="text" class="form-control" id="name" required="required" placeholder="  Name")
                                div(class="col-md-6 col-sm-6")
                                    div(class="form-group")
                                        input(name="email" type="email" class="form-control" id="email" required="required" placeholder="  Email")
                                div(class="col-md-12 col-sm-12")
                                    textarea(name="massage" type="text" class="form-control" id="message" rows="5" required="required" placeholder="  Message")
                                div(class="col-md-4 col-xs-12")
                                    input(type="submit" id="cfsubmit" class="btn btn-send" value="Say Hello")
                                div(id="contactFormResponse" class="col-md-8 col-xs-12")
            <!-- ( D ) Footer -->
            div(class="footer clearfix")
                div(class="row")
                    div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                        div(class="row")
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="copyright") Copyright &copy; 2015 
                                    a(href="#") Your Company
                            div(class="col-md-6 col-sm-12 col-xs-12")
                                p(class="author") Theme by 
                                    a(href="https://themewagon.com/" target="_blank") ThemeWagon
<!--  9 ) Javascript- -->

