div(id="page")
  div(class="footer")
        div(class="footer_bottom container")
              div(class="copyright") &copy; 2020 FlatArt. Onepage portfolio template. All Rights Reserved.
              div(class="socials")
                    ul(class="socials_list")
                        li
                          a(href="javascript:void(0);" class="ico_social-facebook")
                        li
                          a(href="javascript:void(0);" class="ico_social-pinterest")
                        li
                          a(href="javascript:void(0);" class="ico_social-instagram")
                        li
                          a(href="javascript:void(0);" class="ico_social-gplus")
                        li
                          a(href="javascript:void(0);" class="ico_social-twitter")
                        li
                          a(href="javascript:void(0);" class="ico_social-youtube")
                        li
                          a(href="javascript:void(0);" class="ico_social-tumblr")
                        li
                          a(href="javascript:void(0);" class="ico_social-flickr")
                        li
                          a(href="javascript:void(0);" class="ico_social-vimeo")
                        li
                          a(href="javascript:void(0);" class="ico_social-dribbble")
                        li
                          a(href="javascript:void(0);" class="ico_social-linked")
                        li
                          a(href="javascript:void(0);" class="ico_social-delicious")             
              div(class="clear")
