div(class="col-lg-12 col-xs-12 col-sm-12 clearfix footer")
  div(class="row stickyfooter movil-on")
    footer(class="clearfix")
      section(class="module address")
        a(href="/informacion-practica")
          h3(class="title02") Dirección
          address
           p 14 de Mayo casi Felix Bogado y Estero Bellaco, 
             strong San Ignacio Guasú
          
      section(class="module time") 
        a(href="/horarios-tarifas") 
          h3(class="title02") Horario de Atencion
          p
  
      section(class="module call")
        a(href="callto:595782232223")
          h3(class="title02") Llamar a este Numero
          p 
            strong +(595) 782 232 223
        
      section(class="module contact")
        a(href="/contacto")
          h3(class="title02") Contacto del Sistema
          p Envíanos tus consultas
        
  footer(class="clearfix movil-off")
    p(class="col-lg-3 col-sm-3") &copy; 2016 Sistema Aplicativo Ganadero BONANZA
    nav(class="col-lg-4 col-sm-4")
      a(href="https://twitter.com/BonanzaGan" target="_blank" title="ir a twitter en ventana nueva")
        img(src="/images/logo/twitter.png" alt="twitter")
      a(href="https://www.facebook.com/pages/BonanzaGan/99999" target="_blank" title="ir a facebook en ventana nueva")
        img(src="/images/logo/facebook.png" alt="facebook")
      a(href="http://www.youtube.com/user/BonanzaGan" target="_blank" title="ir a google play en ventana nueva")
        img(src="/images/logo/google-play.png" alt="google play")
    
    nav(class="col-lg-5 col-sm-5")
      a(class="" href="/mapa-web") Mapa web
      a(class="" href="/aviso-legal") Aviso legal
      a(class="" href="/creditos") Créditos
    