footer(class="main-footer")
  div(class="pull-right hidden-xs")
    b Versión  0.0.1
  strong Copyright &copy; 2016 - 2017
    a(href="/principal") - Bonanza Studio. 
  strong Todos los derechos reservados.