head
  meta(charset="utf-8")
  meta(http-equiv="Content-Type" content="text/html; image/svg+xml; charset=utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  link(rel='css', href='/css/normalize.css')  
  meta(name="author" content="andymi.net")
  link(rel="icon" href="/images/favicon.ico")
  link(rel="alternate" type="application/atom+xml" title="Sistema Aplicativo Ganadero BONANZA" href="/action.atom")
  link(rel="alternate" hreflang="es" href="http://www.bonanzagan.net/")
  meta(name="description" content="Bienvenida al Sistema Aplicativo Ganadero BONANZA")
  meta(name="keywords" content="Sistema, Paraguay, Misiones, Aplicativo, Sistema Aplicativo Ganadero del Paraguay, bonanza, corral, automatizacion, automatizacion de corral para ganado vacuno, San Ignacio, San Ignacio Guazú")
  meta(property="og:title" content="Sistema Aplicativo Ganadero BONANZA")
  meta(property="og:type" content="website")
  

  link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
  <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
  <!--[if lt IE 9]>
  script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
  script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
  <![endif]-->
  <!-- Magnific Popup core CSS file -->
  link(rel="stylesheet" type="text/css" href="/css/plugins.css")
  link(rel="stylesheet" type="text/css" href="/css/animate.css")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(href="ext/top_line.css" rel="stylesheet" type="text/css")
  link(href="css/responsive.css" rel="stylesheet" type="text/css")
  link(href="css/jplayer/jplayer.css" rel="stylesheet" type="text/css")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:800,700,300,600,400' rel='stylesheet' type='text/css')

  title Sistema Aplicativo Ganadero: BONANZA 
  