aside(class="main-sidebar")
  <!-- sidebar: style can be found in sidebar.less -->
  section(class="sidebar")
    <!-- Sidebar user panel -->
    div(class="user-panel")
      div(class="pull-left image")
        img(src="/img/user10-160x160.png" class="img-circle" alt="User Image")
      div(class="pull-left info")
        p Andrea Forneron
        a(href="#") 
          i(class="fa fa-circle text-success") 
        b En línea
    <!-- search form -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    ul(class="sidebar-menu")
      li(class="header") MENÚ DE NAVEGACIÓN
      li(class="active treeview")
        a(href="#")
          i(class="fa fa-files-o")
          span Inicio
          i(class="fa fa-angle-left pull-right") 
        ul(class="treeview-menu")
          li(class="active")
            a(href="/principal")
              i(class="fa fa-circle-o text-aqua") Página Principal
      li(class="treeview")
        a(href="#")
          i(class="fa fa-dashboard")
          span Animal    
          i(class="fa fa-angle-left pull-right")
        ul(class="treeview-menu")
          li
            a(href="/web/animal")
              i(class="fa fa-circle-o text-green") ABM Animal
          li
            a(href="/web/facturaCompra")
              i(class="fa fa-circle-o text-green") Compra Animal
          li
            a(href="/web/traslado")
              i(class="fa fa-circle-o text-green") Traslado Animal
          li
            a(href="/web/consumo")
              i(class="fa fa-circle-o text-green") Consumo Animal
          li
            a(href="/web/pesaje")
              i(class="fa fa-circle-o text-green") Pesaje Animal
          li
            a(href="/web/sanitacion")
              i(class="fa fa-circle-o text-green") Sanitación Animal
          li
            a(href="/web/vacunacion")
              i(class="fa fa-circle-o text-green") Vacunación Animal
          li
            a(href="/web/muertes")
              i(class="fa fa-circle-o text-green") Mortandad Animal
          li
            a(href="/web/extraviado")
              i(class="fa fa-circle-o text-green") Extravío Animal
          li
            a(href="/web/salidaAnimal")
              i(class="fa fa-circle-o text-green") Salida Animal
          li
            a(href="/web/ingresoAnimal")
              i(class="fa fa-circle-o text-green") Entrada Animal
          li
            a(href="/web/facturaVenta")
              i(class="fa fa-circle-o text-green") Venta Animal
          li
            a(href="/web/stock/animal")
              i(class="fa fa-circle-o text-green") Stock Animal
      li
        a(href="/comedero") 
          i(class="fa fa-book") 
          span Comedero    
      li(class="treeview")
        a(href="#")
          i(class="fa fa-files-o")
          span Insumos
          i(class="fa fa-angle-left pull-right") 
        ul(class="treeview-menu")
          li
            a(href="/web/insumo")
              i(class="fa fa-circle-o text-yellow") ABM Insumos
          li
            a(href="/web/stock")
              i(class="fa fa-circle-o text-yellow") Stock de Insumos
          li
            a(href="/web/facturaCompraInsumo")
              i(class="fa fa-circle-o text-yellow") Compra de Insumos
          li
            a(href="/web/traslado")
              i(class="fa fa-circle-o text-yellow") Utilización de Insumos 
      li(class="treeview")
        a(href="#")
          i(class="fa fa-laptop")
          span Personal
          i(class="fa fa-angle-left pull-right")
        ul(class="treeview-menu")
          li
            a(href="/web/empleado")
              i(class="fa fa-circle-o text-red") ABM Personal
          li
            a(href="/web/ingresoCorral")
              i(class="fa fa-circle-o text-red") Acceso del Personal
      li(class="treeview")
        a(href="#")
          i(class="fa fa-pie-chart")
          span Registros Varios
          i(class="fa fa-angle-left pull-right")
        ul(class="treeview-menu")
          li
            a(href="/web/servicios")
              i(class="fa fa-circle-o") ABM Servicios
          li
            a(href="/web/proveedor")
              i(class="fa fa-circle-o") ABM Proveedor
          li
            a(href="/web/facturaCompraServicios")
              i(class="fa fa-circle-o") Compra de Servicios
          li
            a(href="/web/cliente")
              i(class="fa fa-circle-o") ABM Cliente
          li
            a(href="/web/raza")
              i(class="fa fa-circle-o") ABM Raza
          li
            a(href="/web/nivel")
              i(class="fa fa-circle-o") ABM Nivel
          li
            a(href="/web/usuario")
              i(class="fa fa-circle-o") ABM Usuario
          li
            a(href="/web/ciudad")
              i(class="fa fa-circle-o") ABM Ciudad
          li
            a(href="/web/departamento")
              i(class="fa fa-circle-o") ABM Departamento
      li(class="treeview")
        a(href="#")
          i(class="fa fa-edit") 
          span Informes
          i(class="fa fa-angle-left pull-right")
        ul(class="treeview-menu")
          li
            a(href="pages/forms/general.html")
              i(class="fa fa-circle-o") General Elements
          li
            a(href="pages/forms/advanced.html")
              i(class="fa fa-circle-o") Advanced Elements
          li
            a(href="pages/forms/editors.html")
              i(class="fa fa-circle-o") Editors
      li(class="treeview")
        a(href="#")
          i(class="fa fa-table")
          span Mantenimiento
          i(class="fa fa-angle-left pull-right")
        ul(class="treeview-menu")
          li
            a(href="pages/tables/simple.html")
              i(class="fa fa-circle-o") Simple tables
          li
            a(href="pages/tables/data.html")
              i(class="fa fa-circle-o") Data tables     
      li
        a(href="documentation/index.html") 
          i(class="fa fa-book") 
          span Documentación
      li(class="header") A TENER EN CUENTA
      li
        a(href="#")
          i(class="fa fa-circle-o text-red")
          span Importante
      li
        a(href="#")
          i(class="fa fa-circle-o text-yellow")
          span Atención
      li
        a(href="#")
          i(class="fa fa-circle-o text-aqua")
          span Información
      li
        a(href="#")
          i(class="fa fa-circle-o text-green")
          span Correcto