script(type='text/javascript', src='js/fijos.js')
div(id="page")
  section(id="top")
    header                               
        div(class="container")
            <!-- logo -->
            div(id="logo")
                a(href="index-2.html#top") 
                  img(src="images/logo.png" width="160" height="42" alt="")
            <!-- menu -->
            nav(class="navmenu")
                ul
                    li(class="active") 
                      a(href="#top") Inicio
                    li
                      a(href="#about") Software
                    li
                      a(href="#portfolio") Soporte 
                    li
                      a(href="#blog") Clientes
                    li
                      a(href="#contact") Contactos
            <!-- end nav --> 
            div(class="clear")
  section(class="page_section" id="home")
    div(class="full_slider")
      div(id="fullwidth_slider" class="flexslider")
        ul(class="slides")
          li
            img(src="/images/slider/1.jpg" alt="" class="slide_bg")
            div(class="full_slider_caption")
              b Lovemonster by Artcore. Praesent tortor magna, lobortis vitae dolor sit amet, ullamcorper.
          li
            img(src="/images/slider/2.jpg" alt="" class="slide_bg")
            div(class="full_slider_caption")
              b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
          li
            img(src="/images/slider/3.jpg" alt="" class="slide_bg")
            div(class="full_slider_caption")
              b Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam
          li
            img(src="/images/slider/4.jpg" alt="" class="slide_bg")
            div(class="full_slider_caption")
              b Integer nec odio praesent tortor magna, lobortis vitae dolor sit amet, ullamcorper.
          li
            img(src="/images/slider/5.jpg" alt="" class="slide_bg")
            div(class="full_slider_caption")
             b Donec lacus nunc, bviverra nec, blandit vel
    div(class="container")
              div(class="row")
                    div(class="col-md-3")
                      div(class="service")
                          a(href="javascript:void(0);")
                              span(class="service_icon")
                                img(src="images/logo1sistematesis.svg" width="58" height="58" alt="")
                              span(class="service_title") Registros Varios
                    div(class="col-md-3")
                      div(class="service")
                          a(href="javascript:void(0);")
                              span(class="service_icon")
                                img(src="images/logo2sistematesis.svg" width="58" height="58" alt="")
                              span(class="service_title") Stock
                    div(class="col-md-3")
                      div(class="service")
                          a(href="javascript:void(0);")
                              span(class="service_icon")
                                img(src="images/logo3sistematesis.svg" width="58" height="58" alt="")
                              span(class="service_title") Flat design. Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper. 
                    div(class="col-md-3")
                      div(class="service")
                          a(href="javascript:void(0);")
                              span(class="service_icon")
                                img(src="images/logo4sistematesis.svg" width="58" height="58" alt="")
                              span(class="service_title") Flat design. Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper. 
      header
        div(class="container")
            h1 Right here we've got something you gonna love!
            p In vulputate eget nulla sit amet lacinia. Nullam a congue tellus. Aliquam erat volutpat. Sed gravida magna nec arcu.
            p Curabitur vulputate viverra orci, consequat tincidunt erat semper vitae. 
            a(href="javascript:void(0);" class="shortcode_button btn_type1") Buy template!   
      div(class="content_section container")
              div(class="row")
                  div(class="col-md-12")
                      div(class="home_info")
                            h2 Fresh &amp; Flat design!
                            div(class="text")
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean mattis is vel nisi facilisis auctor. Maecenas sit amet purus males.
                            div(class="visible-home_img")
                              img(src="images/home_img.jpg" alt="")
                            ul
                                li lorem ipsum dolor sit am
                                li consectetur adipiscing
                                li aenean mattis turpis
                                li vel nisi facilisis auctor
                                li maecenas amet purus 
                                li mattis malesuada
                                li lorem ipsum dolor sit
                                li aenean mattis turpis
                                li consectetur avestibum
  section(class="page_section" id="about")
        <!-- section header -->
        header
            div(class="container")
                h1 Something About Us
                p Nullam a congue tellus aliquam erat volutpat. Sed gravida magna nec arcu suscipit venenatis. In vulputate eget nulla lacinia.
                p Consequat tincidunt erat semper vitae, curabitur vulputate viverra orci. 
        div(class="content_section container")
              div(class="skill_start") 
              div(class="row")
                div(class="col-md-12")
                  h4(class="title") Meet our team!
                    <!--Carousel-->
                  div(class="carouselslider featured_posts items4" data-count="4")
                    ul(class="item_list")                                                    
                        li
                          div(class="item")
                            div(class="img_block hover_img" style="zoom: 1; border:none;")
                              img(src="images/team1.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team2.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team3.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team4.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team5.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team6.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team7.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                        li
                          div(class="item")
                            div(class="img_block hover_img")
                              img(src="images/team8.jpg" alt="" )
                            div(class="item_wrap")
                              h4
                                a(href="javascript:void(0);") Anna Smith - Designer
                              div(class="desc_block") 
                                p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                              div(class="team_socials")
                                a(href="javascript:void(0);" class="team_tweet") Twitter
                                a(href="javascript:void(0);" class="team_mail") E-mail
                                a(href="javascript:void(0);" class="team_fb") Facebook
                    div(class="clear")
                div(class="divider") 
                div(class="row")
                  div(class="col-md-6")
                      h4(class="title") Showreel
                        div(class="video") 
                          iframe(height="290" src="http://www.youtube.com/embed/JbeFIfS8uno" allowfullscreen)
                  div(class="col-md-6")
                      h4(class="title") Our skills 
                        <!--diagramm-->
                      div(class="shortcode_diagramm_shortcode diagramm")
                            ul(class="skills_list")
                                li(class="skill_li")                              
                                    div(class="diagram_bar")                         
                                        h6 Lorem ipsum
                                        div(class="skill_div-wrapper") 
                                          div(class="skill_div" style="width: 76%; background-color: rgb(67, 185, 184);" data-percent="76") 
                                        h6(class="skill_percent") 76%  
                                li(class="skill_li")                               
                                    div(class="diagram_bar")                           
                                        h6 Dolor sit vestibulum
                                        div(class="skill_div-wrapper") 
                                          div(class="skill_div" style="width: 88%; background-color: rgb(157, 126, 194);" data-percent="88")
                                        h6(class="skill_percent") 88%                                 
                                li(class="skill_li")                              
                                    div(class="diagram_bar")                          
                                        h6 Egestas
                                        div(class="skill_div-wrapper")
                                          div(class="skill_div" style="width: 49%; background-color: rgb(255, 181, 3);" data-percent="49")
                                        h6(class="skill_percent") 49%
                                li(class="skill_li")                              
                                    div(class="diagram_bar")                          
                                        h6 Pellentesque amet
                                        div(class="skill_div-wrapper")
                                          div(class="skill_div" style="width: 100%; background-color: rgb(167, 178, 73);" data-percent="100")
                                        h6(class="skill_percent") 100%   
                                li(class="skill_li")                              
                                    div(class="diagram_bar")                          
                                        h6 Ridiculus
                                        div(class="skill_div-wrapper") 
                                          div(class="skill_div" style="width: 62%; background-color: rgb(244, 232, 207);" data-percent="62") 
                                        h6(class="skill_percent") 62%     
                
                div(class="divider60")
                div(class="row")
                div(class="col-md-12")
                  h4(class="title") Testimonials
                        <!--Carousel-->
                        div(id="testimonials" class="carouselslider testimonials items1" data-count="1")
                            ul(class="item_list")                                                   
                                li
                                    div(class="item")
                                        div(class="testimonial") Auctor blandit, elit felis ornare purus, at ultrices purus eros at sem. In eget a diam ut mauris commodo mollis et in libero praesent semper ac erat vel dolor tempor hiculas Vestibulum malesuada augue id quam fermentum malesa. justo egestas. Praesent felis sapien, porttitor at gravida eget, volutpat vitae est. Vivamus in ornare nunc, eu scelerisque felis. Integer quis nisi nunc donec congue mi metus, tristique consequat justo gravida vel. Integer dui enim. commodo quis feugiat pharetra, tincidunt in.
                                        a(href="javascript:void(0);") Anna Smith, Company inc.   
                                li
                                    div(class="item")
                                        div(class="testimonial") Praesent felis sapien, porttitor at gravida eget, volutpat vitae est. Vivamus in ornare nunc, eu scelerisque felis. Integer quis nisi nunc donec congue mi metus, tristique consequat justo gravida vel. Integer dui enim. commodo quis feugiat pharetra, tincidunt in velit. Auctor blandit, elit felis ornare purus, at ultrices purus eros at sem. In eget a diam ut mauris commodo mollis et in libero praesent semper ac erat vel dolor tempor hiculas Vestibulum malesuada augue id quam fermentum malesa. justo.
                                        a(href="javascript:void(0);") Tom Sawyer, Company inc. 
                                li
                                    div(class="item")
                                        div(class="testimonial") Integer dui enim. commodo quis feugiat pharetra, tincidunt in velit. Auctor blandit, elit felis ornare purus, at ultrices purus eros at sem. In eget a diam ut mauris commodo mollis et in libero praesent semper ac erat vel dolor tempor hiculas Vestibulum malesuada augue id quam fermentum malesa. justo egestas. Praesent felis sapien, porttitor at gravida eget, volutpat vitae est. Vivamus in ornare nunc, eu scelerisque felis. Integer quis nisi nunc donec congue mi metus, tristique consequat justo.
                                        a(href="javascript:void(0);") John Doe, Company inc.
                        div(class="clear")
  section(class="page_section" id="portfolio")
            header
                div(class="container")
                    h1 Our Works
                    <!-- filter_block -->
                    div(class="filter_block")
                        div(class="filter_navigation")
                            ul(id="options" class="splitter")
                                li
                                    ul(data-option-key="filter" class="optionset")
                                        li(class="selected")
                                          a(data-option-value="*" href="#filter") All works
                                        li
                                          a(title="View all post filed under Colors" data-option-value=".colors" href="#filter") Colors
                                        li
                                          a(title="View all post filed under Flat Design" data-option-value=".flatdesign" href="#filter") Flat Design
                                        li
                                          a(title="View all post filed under Artcore" data-option-value=".artcore" href="#filter") Artcore
                                        li
                                          a(title="View all post filed under Illustrations" data-option-value=".illustrations" href="#filter") Illustrations
            div(class="content_section container")
              div(class="row")
                    div(class="portfolio_block image-grid" id="list")                                                                
                        div(data-category="colors" class="colors element col-md-3")
                            div(class="img_block hover_img")
                                img(src="images/portfolio/1.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Lorem ipsum dolor in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block") 
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More                        
                        div(data-category="flatdesign" class="flatdesign element col-md-6")
                            div(class="img_block hover_img")
                              img(src="images/portfolio/2.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in") 
                                  h4 
                                    a(href="single_portfolio.html") Integer nec odio in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block") 
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More
                        div(data-category="artcore" class="artcore element col-md-3")
                            div(class="img_block hover_img")
                              img(src="images/portfolio/3.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Morbi lectus risus in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block")
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More
                        div(data-category="colors" class="colors element col-md-3")
                            div(class="img_block hover_img")
                              img(src="images/portfolio/4.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Sed non quam in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block") 
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More                        
                        div(data-category="illustrations" class="illustrations element col-md-6")
                            div(class="img_block hover_img")
                                img(src="images/portfolio/5.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Sit amet mauris in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block") 
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More
                        div(data-category="flatdesign" class="flatdesign element col-md-3")
                            div(class="img_block hover_img")
                                img(src="images/portfolio/6.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4 
                                    a(href="single_portfolio.html") Libero eget ante in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block")
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More
                        div(data-category="artcore" class="artcore element col-md-8")
                            div(class="img_block hover_img")
                                img(src="images/portfolio/7.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Vestibulum lectus in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block")
                                    p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                    a(href="single_portfolio.html" class="read_more") Read More
                        div(data-category="illustrations" class="illustrations element col-md-4")
                            div(class="img_block hover_img")
                                img(src="images/portfolio/8.jpg" alt="")
                            div(class="portfolio_wrap")
                                div(class="portf_in")
                                  h4
                                    a(href="single_portfolio.html") Aliquet eget justo in 
                                    a(href="javascript:void(0);") Category
                                  div(class="desc_block") 
                                      p Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.
                                      a(href="single_portfolio.html" class="read_more") Read More
                    div(class="clear")
                    div(class="col-md-12")
                      div(class="load_more_cont")
                        a(href="javascript:void(0)" class="btn_load_more shortcode_button btn_type1") Load more works!     
                    //script(type="text/javascript")
                        jQuery(window).load(function(){
                            items_set = [ //Service Data
                            
                                {itemwidth : 'col-md-6', src : 'images/portfolio/9.jpg', url : 'single_portfolio.html', sortcategory: 'colors', itemcategory: 'Category', title : 'Lorem ipsum dolor', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'},

                                {itemwidth : 'col-md-3', src : 'images/portfolio/13.jpg', url : 'single_portfolio.html', sortcategory: 'flatdesign', itemcategory: 'Category', title : 'Sit amet mauris', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'},

                                {itemwidth : 'col-md-3', src : 'images/portfolio/11.jpg', url : 'single_portfolio.html', sortcategory: 'artcore', itemcategory: 'Category', title : 'Morbi lectus risus', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'},

                                {itemwidth : 'col-md-6', src : 'images/portfolio/12.jpg', url : 'single_portfolio.html', sortcategory: 'colors', itemcategory: 'Category', title : 'Sed non quam', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'},
                
                                {itemwidth : 'col-md-3', src : 'images/portfolio/10.jpg', url : 'single_portfolio.html', sortcategory: 'flatdesign', itemcategory: 'Category', title : 'Integer nec odio', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'},

                                {itemwidth : 'col-md-3', src : 'images/portfolio/14.jpg', url : 'single_portfolio.html', sortcategory: 'illustrations', itemcategory: 'Category', title : 'Libero eget ante', description: 'Praesent tortor magna, lobortis  vitae dolor sit amet ullamcorper placerat morbi at diam varius.'}
                                
                            ];
                            jQuery('#list').portfolio_addon({
                                type : 1, // 2-4 columns simple portfolio
                                load_count : 6,
                                items : items_set
                            });
                        });
  section(class="page_section" id="blog")
            header
                div(class="container")
                    h1 Our Blog
                    p Nullam a congue tellus aliquam erat volutpat. Sed gravida magna nec arcu suscipit venenatis. In vulputate eget nulla sit amet lacinia. Consequat tincidunt erat semper vitae, curabitur vulputate viverra orci.
            div(class="content_section container")            
                div(class="blog_container")
                  div(class="left_blog_posts")
                      div(class="blog_post")
                            iframe(height="280" src="http://www.youtube.com/embed/JbeFIfS8uno" allowfullscreen)
                            h4
                              a(href="single_post.html") Smile &amp; Burn! by Artcore
                            div(class="desc_block") 
                              p Phasellus ante dui, faucibus eu consequat ut, imperdiet at metus. Nunc lobortis, ipsum condimentum ullamcorper mollis, sem erat peleifend mi, nec elementum orci odio ultricies mauris vestibulums cursus lacinia ante, et faucibus nibh laoreet ut. Sed vestibulum vivamus ac tempor pretium. Ut diam metus, varius ut accumsan sit.
                            div(class="post_info") 25 April 2019 
                             span(class="separator") : 
                              a(href="javascript:void(0);") 4 comments
                             span(class="separator") : 
                              a(href="javascript:void(0);") Video
                            div(class="post_socials")
                              ul  
                                  li
                                    a(href="javascript:void(0);" class="pinterest") Pinterest
                                  li
                                    a(href="javascript:void(0);" class="fb") Facebook
                                  li
                                    a(href="javascript:void(0);" class="google_plus") Google+
                                  li
                                    a(href="javascript:void(0);" class="twitter") Twitter
                            div(class="clear")
                            div(class="post_type video_type")
                        div(class="blog_post")
                          h4
                            a(href="single_post.html") Die Antwoord - Ninja                        
                          //script(type="text/javascript" src="js/jquery.jplayer.min.js")
                           script(type="text/javascript")
                              jQuery(document).ready(function(){
                                  jQuery("#jquery_jplayer_1").jPlayer({
                                    ready: function () {
                                      $(this).jPlayer("setMedia", {
                                        title:"Cro Magnon - undefined",
                                        mp3:"audio/music.mp3"                       
                                      });
                                    },
                                    swfPath: "js/Jplayer.swf",
                                    supplied: "mp3",
                                    wmode: "window",
                                    smoothPlayBar: true,
                                    keyEnabled: true
                                  });                               
                              });      
                          div(id="jquery_jplayer_1" class="jp-jplayer")
                          div(id="jp_container_1" class="jp-audio")
                                div(class="jp-type-single")
                                    div(class="jp-gui jp-interface")
                                        ul(class="jp-controls")
                                            li
                                              a(href="javascript:;" class="jp-play" tabindex="1") play
                                            li
                                              a(href="javascript:;" class="jp-pause" tabindex="1") pause
                                            li
                                              a(href="javascript:;" class="jp-mute" tabindex="1" title="mute") mute
                                            li
                                              a(href="javascript:;" class="jp-unmute" tabindex="1" title="unmute") unmute 
                                        div(class="jp-progress")
                                            div(class="jp-seek-bar")
                                                div(class="jp-play-bar")
                                        div(class="jp-volume-bar")
                                            div(class="jp-volume-bar-value")
                                        div(class="jp-time-holder")
                                            div(class="jp-current-time")
                                            div(class="jp-duration")                           
                            div(class="post_info") 25 April 2019 
                              span(class="separator") :
                                a(href="javascript:void(0);") 5 comments
                              span(class="separator") :
                                a(href="javascript:void(0);") Audio
                            div(class="post_socials")
                              ul  
                                  li
                                    a(href="javascript:void(0);" class="pinterest") Pinterest
                                  li
                                    a(href="javascript:void(0);" class="fb") Facebook
                                  li
                                    a(href="javascript:void(0);" class="google_plus") Google+
                                  li
                                    a(href="javascript:void(0);" class="twitter") Twitter
          
                            div(class="clear")
                            div(class="post_type audio_type")                           
                      div(class="blog_post")
                            h4
                              a(href="single_post.html") Awesome onepage template!
                            div(class="desc_block") 
                             p Phasellus ante dui, faucibus eu consequat ut, imperdiet at metus. Nunc lobortis, ipsum condimentum ullamcorper mollis, sem erat peleifend mi, nec elementum orci odio ultricies mauris vestibulums cursus lacinia ante, et faucibus nibh laoreet ut. Sed vestibulum vivamus ac tempor pretium. Ut diam metus, varius ut accumsan sit. amet, mattis eget ante. Duis adipiscing odio ut  quies, rutrum diam. Nam euismod nisi velit viverra molestie. Read more! Phasellus ante dui, faucibus eu consequat ut, imperdiet at metus nunc lobortis.
                            div(class="post_info") 25 April 2019 
                              span(class="separator") :
                                a(href="javascript:void(0);") No comments
                              span(class="separator") :
                                a(href="javascript:void(0);") Artcore
                            div(class="post_socials")
                              ul  
                                  li
                                    a(href="javascript:void(0);" class="pinterest") Pinterest
                                  li
                                    a(href="javascript:void(0);" class="fb") Facebook
                                  li
                                    a(href="javascript:void(0);" class="google_plus") Google+
                                  li
                                    a(href="javascript:void(0);" class="twitter") Twitter 
                            div(class="clear")
                            div(class="post_type text_type")                            
                  div(class="right_blog_posts")
                      <!--blog_post-->
                      div(class="blog_post first_post")
                            img(src="images/blog/post_img.jpg" alt="")
                            h4
                              a(href="single_post.html") Good morning beautiful!
                            div(class="desc_block") 
                              p Phasellus ante dui, faucibus eu consequat ut, imperdiet at metus. Nunc lobortis, ipsum condimentum ullamcorper mollis, sem erat peleifend mi, nec elementum orci odio ultricies mauris vestibulums cursus lacinia ante, et faucibus nibh laoreet ut. Sed vestibulum vivamus ac tempor pretium. Ut diam metus, varius ut accumsan sit.
                            div(class="post_info") 25 April 2019 
                            span(class="separator") : 
                              a(href="javascript:void(0);") 16 comments 
                            span(class="separator") :
                              a(href="javascript:void(0);") Illustrations
                            div(class="post_socials")
                              ul  
                                  li
                                    a(href="javascript:void(0);" class="pinterest") Pinterest
                                  li
                                    a(href="javascript:void(0);" class="fb") Facebook
                                  li
                                    a(href="javascript:void(0);" class="google_plus") Google+
                                  li
                                    a(href="javascript:void(0);" class="twitter") Twitter
                            div(class="clear")
                            div(class="post_type image_type")                            
                      div(class="blog_post")
                            img(src="images/blog/post_img2.jpg" alt="")
                            h4 
                              a(href="single_post.html") Artcore icons
                            div(class="desc_block") 
                              p Phasellus ante dui, faucibus eu consequat ut, imperdiet at metus. Nunc lobortis, ipsum condimentum ullamcorper mollis, sem erat peleifend mi, nec elementum orci odio ultricies mauris vestibulums cursus lacinia ante, et faucibus nibh laoreet ut. Sed vestibulum vivamus ac tempor pretium. Ut diam metus, varius ut accumsan sit.
                            div(class="post_info") 25 April 2019 
                              span(class="separator") :
                              a (href="javascript:void(0);") 2 comments 
                              span (class="separator") :
                              a (href="javascript:void(0);") Icons   
                            div(class="post_socials")
                              ul  
                                  li
                                    a(href="javascript:void(0);" class="pinterest") Pinterest
                                  li
                                    a(href="javascript:void(0);" class="fb") Facebook
                                  li
                                    a(href="javascript:void(0);" class="google_plus") Google+
                                  li
                                    a(href="javascript:void(0);" class="twitter") Twitter
                            div(class="clear")
                            div(class="post_type image_type")
                    div(class="clear")
                div(class="pagerblock")
                  ul
                        li 
                           span 1
                        li 
                           a(href="javascript:void(0);") 2
                        li 
                           a(href="javascript:void(0);") 3
                        li 
                           a(href="javascript:void(0);") 4
                        li 
                           a(href="javascript:void(0);") 5
  section(class="page_section" id="contact")
            <!-- section header -->
            header
                div(class="container")
                    h1 Get In Touch!
                    p Nullam a congue tellus aliquam erat volutpat. Sed gravida magna nec arcu suscipit venenatis. In vulputate eget nulla sit amet lacinia. Consequat tincidunt erat semper vitae, curabitur vulputate viverra orci.                
            div(class="contact_form content_section container")
                div(class="row")
                    div(class="col-md-4 contact_info")
                        p(class="i1") 5512 Lorem Ipsum Vestibulum 666/13
                        p(class="i2") +1 800 789 50 12, +1 800 450 6935
                        p(class="i3") 
                          a(href="mailto:#") mail@compname.com
                        p(class="i4") compname
                        p(class="i5") 
                          a(href="javascript:void(0);") Twitter
                        p(class="i6") 
                          a(href="javascript:void(0);") Facebook
                        p(class="i7") 
                          a(href="javascript:void(0);") Flickr
                        p(class="i8") 
                          a(href="javascript:void(0);") Dribbble
                        p(class="i9") 
                          a(href="javascript:void(0);") YouTube                    
                    div(class="col-md-8")
                      div(id="note")
                        div(id="fields") 
                            form(id="ajax-contact-form" action="#")                                
                                input(type="text" class="required" name="name" value="Name *" title="Name *")
                                input(type="text" class="required" name="email" value="Email *" title="Email *")
                                input(type="text" name="subject" value="Subject" title="Subject")                           
                                textarea(name="message" class="required" id="message" title="Message *") Message *
                                input(type="reset" class="clear_btn" value="Clear form" )
                                input(class="send_btn" type="submit" value="Send message!") 
            div(id="map_section")
              script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false")
              //script
                function initialize() {         
                  var styleArray = [
                  {
                    featureType: 'all',
                    stylers: [
                      { saturation: -100 }
                    ]
                  }
                  ];
                  var myLatlng = new google.maps.LatLng(40.714353, -74.005973);         
                  var mapOptions = {
                  zoom: 12,
                  scrollwheel: false,
                  center: myLatlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  styles: styleArray
                  };          
                  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                  var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'New York!'
                  });
                }         
                google.maps.event.addDomListener(window, 'load', initialize);            
              div(id="map-canvas")
            div(class="content_section container")
              div(class="row")
                  div(class="col-md-12") 
                      h4(class="title") Our partners
                        div(class="carouselslider our_partners items5" data-count="5")
                            ul(class="item_list")                                                    
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/cleanspace-retina-ready-business-wp-theme/3776000" target="_blank")
                                        img(src="images/partners/cleanspace.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/output-responsive-multipurpose-wordpress-theme/4525865" target="_blank")
                                        img(src="images/partners/output.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/dixit-responsive-multipurpose-wordpress-theme/4709826" target="_blank")
                                        img(src="images/partners/dixit.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/point-business-responsive-wp-theme/4319087" target="_blank")
                                        img(src="images/partners/point.png" alt="")    
                                li
                                    div(class="item")
                                      a(href="themeforest.net/item/yellowproject-multipurpose-retina-wp-theme/4066662.html" target="_blank")
                                        img(src="images/partners/yellow.png" alt="")                                                       
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/charity-html5css3-website-template/3180454" target="_blank")
                                        img(src="images/partners/charity.png" alt="")                                   
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/hq-photography-responsive-wp-theme/3200962" target="_blank")
                                        img(src="images/partners/hq.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/incipiens-responsive-portfolio-wordpress-theme/2762691" target="_blank")
                                        img(src="images/partners/incipiens.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/jdoe-responsive-photography-wordpress-theme/2570713" target="_blank")
                                        img(src="images/partners/jd.png" alt="")
                                li
                                    div(class="item")
                                      a(href="http://themeforest.net/item/showroom-portfolio-retina-ready-wp-theme/3473628" target="_blank")
                                        img(src="images/partners/showroom.png" alt="")
                        div(class="clear")
  div(class="footer")
          div(class="footer_sidebar")
              div(class="container")
                div(class="row")
                      div(class="col-md-3 widget_posts") 
                          h4(class="title") Latest posts
                            ul(class="recent_posts") 
                                li
                                  a(href="single_post.html") Lorem ipsum dolor amet aptent taciti, ac sociosqu. 
                                    img(src="images/blog/featured1.png" width="56" height="56" alt="")                                    
                                li
                                  a(href="single_post.html") Dolor amet aptent taciti, ac sociosqu litor egets!
                                    img(src="images/blog/featured2.png" width="56" height="56" alt="")                                      
                                li
                                  a(href="single_post.html") Ac sociosqu torquente per neg vestibulum ac vivamus. 
                                    img(src="images/blog/featured3.png" width="56" height="56" alt="")                                             
                      div(class="col-md-3 widget_text") 
                          h4(class="title") About Us
                            p Aptent taciti sociosqu litora torquente per vestibulum eget vestibulum.
                            p 
                              a(href="javascript:void(0);") Perestas fusce nisi erat, ultrices in tincidunt id, sodales vitae sem proin a sit amet hendrerit curabitur vitae lectus lacus, ut pulvinar justots, vivamus metus dolor, ullamcorper adipiscing.
                            p Non vulputate duis augue mi, 
                              a(href="javascript:void(0);") egestas!
                      div(class="col-md-3 widget_mailchimpsf_widget")
                          h4(class="title") Mailchimp widget
                            p Aptent taciti sociosqu litora torquente per vestibulum, eget vestibulum.
                            p Fusce nisi erat, ultrices in tincidunt los id, sodalest vitae a sem proin sit amet.   
                            div(class="mc_form_inside")
                                div(class="mc_merge_var")                               
                                    input(type="text" class="mc_input" id="mc_mv_EMAIL" name="mc_mv_EMAIL" value="Enter your mail" title="Enter your mail" size="18")
                                div(class="mc_signup_submit")
                                    input(type="submit" class="mc_submit" value="Subscribe!" id="mc_signup_submit" name="mc_signup_submit")
                      div(class="col-md-3 widget_dribbble")
                          h4(class="title") Dribbble Photostream
                            script(src="js/jribbble.js")
                            div(class="dribbble_module")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/1.jpg")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/2.jpg")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/3.jpg")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/4.jpg")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/5.jpg")
                              div(class="dribbble_item") 
                                a(href="javascript:void(0);") 
                                  img(alt="" src="images/dribbble/6.jpg")
          div(class="footer_bottom container")
              div(class="copyright") &copy; 2020 FlatArt. Onepage portfolio template. All Rights Reserved.
              div(class="socials")
                    ul(class="socials_list")
                        li
                          a(href="javascript:void(0);" class="ico_social-facebook")
                        li
                          a(href="javascript:void(0);" class="ico_social-pinterest")
                        li
                          a(href="javascript:void(0);" class="ico_social-instagram")
                        li
                          a(href="javascript:void(0);" class="ico_social-gplus")
                        li
                          a(href="javascript:void(0);" class="ico_social-twitter")
                        li
                          a(href="javascript:void(0);" class="ico_social-youtube")
                        li
                          a(href="javascript:void(0);" class="ico_social-tumblr")
                        li
                          a(href="javascript:void(0);" class="ico_social-flickr")
                        li
                          a(href="javascript:void(0);" class="ico_social-vimeo")
                        li
                          a(href="javascript:void(0);" class="ico_social-dribbble")
                        li
                          a(href="javascript:void(0);" class="ico_social-linked")
                        li
                          a(href="javascript:void(0);" class="ico_social-delicious")             
              div(class="clear")
header(class="fixed-menu")
                      
                                            
                                    
