extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
   div(class="centerdiv")
    form(action='/web/ciudad/cargar' method="POST")
      div(class="form-group")
        h1 Registro de Ciudades
      div(class="form-group")
        label(class="control-label col-sm-7" for="ciudad") Nombre de la Ciudad
        div(class="col-sm-5")
          input(type="text" class="form-control" id="ciudad" name='ciudad' value='ciudad.ciudad' placeholder="Ingrese la Ciudad")
      div(class="form-group")
        label(class="control-label col-sm-7" for="departamento") Departamento: 
        div(class="col-sm-5") 
          select(name='selectJ' class="btn btn-secondary")
            option(value="-1" selected) Seleccione Departamento
            -for(var j=0; j < selectJ.length; j++) {
              option(value="#{selectJ[j].idDepartamento}") #{selectJ[j].departamento}
            -}  	     
      div(class="form-group")
        div(class="col-sm-5") 
        button(type="submit" href="javascript:void(0);" class="shortcode_button btn_type1") Agregar Ciudad
               
    