extends ../../layout 
block content
  br
  br
  div(class="container-fluid")
    form(action='/web/ciudad/cargar' method="POST")
      div(class="form-group")
        label(for="ciudad") Nombre de la Ciudad
        input(type="text" class="form-control" id="ciudad" name='ciudad' value='ciudad.ciudad' placeholder="Ingrese la Ciudad")
      div(class="form-group")
        label(class="control-label col-sm-2" for="email") Departamento: 
        div(class="col-sm-10")  
          select(name='selectJ')
            option(value="-1" selected) Seleccione Departamento
            -for(var j=0; j < selectJ.length; j++) {
              option(value="#{selectJ[j].idDepartamento}") #{selectJ[j].departamento}
            -}  	       
      button(type="submit" value="submit") Agregar Ciudad         
    