form(action='/web/detalleVacunacion/cargar' method="POST")
  for vacunaciones in vacunacionJ
    input(type="hidden" name='id' value='#{vacunaciones.idVacunacion}')
  div(class="form-group")
    label(for="numeroCertificado") Numero Certificado
    input(type="text" class="form-control" id="numeroCertificado" name='numeroCertificado' value='detalleVacunacion.numeroCertificado' placeholder="Ingrese la Fecha")
  div(class="form-group")
    label(for="observacion") Observacion
    input(type="text"  class="form-control" id="observacion" name='observacion' value='detalleVacunacion.observacion' placeholder="Ingrese el Vacunacion") 
    //detalle del pesaje
  div(class="form-group")
    label(class="control-label col-sm-2" for="email") Rp Animal: 
    div(class="col-sm-10")  
      select(name='selectJ')
        option(value="-1" selected) Seleccione Rp
        -for(var j=0; j < selectJ.length; j++) {
          option(value="#{selectJ[j].idAnimal}") #{selectJ[j].rpAnimal}
        -}  	       
  
  button(type="submit" value="submit") Agregar Detalle Vacunacion


a(href="/web/vacunacion" class="btn btn-info" role="button")
  p(data-placement="top" data-toggle="tooltip" title="List")
    button(type="button" class="btn btn-info") Listo
