extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle del Traslado del Animal
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Detalle del Traslado del Animal
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registro del Detalle del Traslado del Animal
            form(class="form-horizontal" action='/web/detalleTraslado/cargar' method="POST")
              div(class="box-body")
                for traslados in notaTrasladoJ
                  input(type="hidden" name='id' value='#{traslados.idTraslado}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="descripcion") Descripción:
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="descripcion" name='descripcion' placeholder="Ingrese la Descripción" required)
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/detalleTraslado/cargar" class="btn btn-primary") Leer Etiqueta  
                    i(class="fa fa-refresh")
                  a(href="/web/traslado" class="btn btn-default") Listo
                    i(class="fa fa-remove")       