doctype html
html(lang="es" class="no-js")
  head
      <!-- meta data -->
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1" )
      link(rel='css', href='/css/normalize.min.css') 
      <!-- title and favicon -->
      title Bonanza :: Sistema de Gestión Ganadera 
      link(rel="icon" href="/img/icon/icono.ico")
      <!--necessary stylesheets -->
      link(type="text/css" rel="stylesheet" href="/css/bootstrap.min.css")
      link(type="text/css" rel="stylesheet" href="/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" href="/css/ionicons.min.css")
      link(type="text/css" rel="stylesheet" href="/css/popup.min.css")
      link(type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css")
      link(type="text/css" rel="stylesheet" href="/css/owl.theme.min.css")
      link(type="text/css" rel="stylesheet" href="/css/style.min.css")
  body
    <!-- Preloader -->
    div(id="preloader")
        div(class="loader")
            span
            span
            span
            span
    <!-- home-page -->
    div(class="home-page")
        div(class="introduction")           
            div(class="intro-content")  
                span Bonanza
                div(class="social-media hidden-xs")        
                    p(class="slogan-text text-capitalize") Sistema de Gestión Ganadera
                    form(action='/web/log' method="get")
                        button(href="/web/log" class="tero" data-filter="all") Ingresar
                div(class="social-media hidden-xs")
                    a(href="https://www.facebook.com/Bonanza-Sistema-De-Gestion-Ganadera-1767571960144796/?__mref=message_bubble" class="fa fa-facebook" data-toggle="tooltip" title="Facebook")
                    a(href="https://twitter.com/bonanzacomerci2" class="fa fa-twitter" data-toggle="tooltip" title="Twitter")
                    a(href="https://plus.google.com/u/0/117896767859202706058/posts" class="fa fa-plus" data-toggle="tooltip" title="Google+")
                    a(href="#" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin")

            <!-- Social Media Icons [ END ] -->        
        <!-- Navigation Menu -->
        div(class="menu")
            div(data-url_target="about_us" class="profile-btn menu_button")
                img(alt="" src="/img/Vaca2.jpg" style="width:100%; height:100%;")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-people-outline hidden-xs")
                    h2 Nosotros           
            <!-- Single Navigation Menu Button -->
            div(data-url_target="portfolio" class="portfolio-btn menu_button")
                img(alt="" src="/img/portfolio.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-briefcase-outline hidden-xs")
                    h2 Portafolio            
            <!-- Single Navigation Menu Button [ END ]  -->
            div(data-url_target="service" class="service-btn menu_button")
                img(alt="" src="/img/service.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-lightbulb-outline hidden-xs")
                    h2 Servicios
            <!-- Single Navigation Menu Button [ END ]  -->
            div(data-url_target="contact" class="contact-btn menu_button")
                img(alt="" src="/img/contact.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-chatboxes-outline hidden-xs")
                    h2 Contactos
            <!-- Single Navigation Menu Button [ END ]  -->    
    <!--4 ) Close Button-->
    div(class="close-btn")
    <!--5 ) Profile Page-->
    div(id="about_us" class="profile-page container-fluid page")
        div(class="row")
            <!--( a ) Profile Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Nosotros
            <!--( b ) Profile Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Story of Glory -->
                div(class="clearfix")
                    h2(class="small-heading") ACERCA DEL SISTEMA
                    div(class="row") 
                        div(class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")                                
                                div(class="col-md-12 col-sm-12")
                                    div(class="about-us-desc")
                                        p Sistema de Gestión Ganadera Bonanza es una iniciativa que tiene como misión la promoción del uso seguro del aplicativo para las diferentes actividades ganaderas realizadas en la región.
                                        
                                        p Busca fomentar el desarrollo a través de la inclusión de la tecnología digital en el campo con el acompañamiento de la automatización del corral. Está orientado para los productores ganaderos que desean innovar en sus inversiones. Es un sistema fácil de utilizar, segura en el manejo de gestión de datos y confiable porque tiene niveles de acceso para diferentes tipos de usuarios.

                <!--( B ) What Can I Do -->
                div(class="clearfix")
                    h2(class="small-heading") NUESTROS DATOS CURIOSOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-12")
                            div(class="row")
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-code fa-3x")
                                            p(class="count") 1956628
                                            p(class="text-capitalize") lineas de código 
                                <!-- Single Service Item [ END ]  -->
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-coffee fa-3x")
                                            p(class="count") 1473
                                            p(class="text-capitalize") tazas de café 
                                <!-- Single Service Item [ END ]  -->
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-cubes fa-3x") 
                                            p(class="count") 20
                                            p(class="text-capitalize") proyectos entregados 
                                <!-- Single Service Item [ END ]  -->
                div(class="clearfix full-height") 
                    h2(class="small-heading") CONOCER AL EQUIPO
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-xs-12")
                                    div(class="team-member-box center-block text-center")
                                        img(src="/img/team_member1.jpeg" class="img-responsive")
                                        h4(class="text-capitalize") viviana forneron
                                        p(class="text-uppercase") analista y documentadora
                                div(class="col-md-6 col-xs-12")
                                    div(class="team-member-box center-block text-center")
                                        img(src="/img/team_member3.jpg" class="img-responsive")
                                        h4(class="text-capitalize") andrea forneron
                                        p(class="text-uppercase") codificadora creativa
                <!--( D ) Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016 - 2017
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión  
                                        a(href="#" target="_blank") 0.0.1
    div(id="portfolio" class="portfolio-page container-fluid page")
        div(class="row")
            <!--( a ) Portfolio Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Portafolio
            <!--( b ) Portfolio Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Portafolio -->
                div(class="portfolio clearfix full-height")
                    h2(class="small-heading") PORTAFOLIO
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="project-container")
                                div(class="row")
                                    div(class="project-controls")
                                        button(class="filter" data-filter="all") Todas
                                        button(class="filter" data-filter=".graphic-design") Automatización
                                        button(class="filter" data-filter=".web-design") Diseño Web
                                        button(class="filter" data-filter=".app-development") Aplicación
                                    <!-- Portfolio Control Buttons [ END ] -->
                                    div(id="projects" class="projet-items clearfix")
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/lector.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-1" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-1")
                                            img(alt="" src="/img/portfolio/lector.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Lector RFID
                                                p Es un dispositivo que permite la lectura de los tags RFID o dispositivos de identificación por radiofrecuencia, a través de ellos se puede realizar una identificación automática del animal y tiene un alcance de 3 a 6 mts de distancia.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_2.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-2" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-2")
                                            img(alt="" src="/img/portfolio/image_2.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Documentación
                                                p El manual de usuario está escrito en formato APA, para el mejor entendimiento y facilidad de aprendizaje del usuario.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/imagen1.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-3" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-3")
                                            img(alt="" src="/img/portfolio/imagen1.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Página Principal
                                                p Es la presentación del sistema aplicativo en el cual tienen acceso todos los interesados en conocer este proyecto, en ella se encuentra las informaciones  de los trabajos realizados en la página web, las automatizaciones, los colaboradores  y las herramientas utilizadas.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/rfid.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-4" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-4")
                                            img(alt="" src="/img/portfolio/rfid.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Módulo de Acceso del Personal
                                                p A través de este módulo podemos identificar a la persona que quiera acceder dentro, en caso de que no esté autorizado, se emite una alarma y el sistema lo notifica inmediatamente.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/imagen2.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-6" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-6")
                                            img(alt="" src="/img/portfolio/imagen2.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Ventana Principal del Aplicativo
                                                p Cuando el usuario se loguea, accede a la ventana principal donde se presentan los menús para los registros del animal, el módulo de facturación, estadísticas entre otros.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_7.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-7" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-7")
                                            img(alt="" src="/img/portfolio/image_7.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Análisis
                                                p Durante el desarrollo del  análisis y modelado de la base de datos optamos por materiales versátiles para lograr la mayor seguridad en el manejo de informaciones confidenciales.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/balanzas.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-8" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-8")
                                            img(alt="" src="/img/portfolio/balanza.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Balanza Electrónica
                                                p Permite definir el peso del animal y lo envía directamente al sistema aplicativo a través del protocolo de comunicación  RS232.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/movil.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-9" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-9")
                                            img(alt="" src="/img/portfolio/movil.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Sistema Aplicativo Responsive
                                                p Para la mayor comodidad del usuario, se podrá acceder al sistema aplicativo desde diferentes tipos de dispositivos, sean tablets, celulares o computadores.
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/diseno.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-10" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-10")
                                            img(alt="" src="/img/portfolio/diseno.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 Diseño
                                                p Se utilizaron herramientas  que son  de código abierto, flexibles y ágiles todo para que la página sea atractiva y a la vez eficiente durante su uso.
                                        <!-- Single Portfolio Item [ END ] -->
                <!-- Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016 - 2017
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author")  Versión 
                                        a(href="#" target="_blank") 0.0.1        
    <!-- 7 ) Service Page-->    
    div(id="service" class="service-page container-fluid page")
        div(class="row")
            <!--( a ) Portfolio Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Servicios
            <!--( b ) Portfolio Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Portfolio -->
                
                div(class="clearfix")
                    h2(class="small-heading") NUESTROS SERVICIOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-sm-12")
                            div(class="row")

                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-mobile")
                                                    h5 Identificación y Conteo 
                                                div(class="back")
                                                    h5 Identificación y Conteo
                                                    p La identificación del animal se realiza a través de un dispositivo RFID que es colocado en la oreja del animal, y obtenido por el lector de RFID. El conteo se realiza con un dispositivo que obtiene los tags RFID ubicados en la oreja del animal.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-lightbulb-o")
                                                    h5 Automatización
                                                div(class="back")
                                                    h5 Automatización
                                                    p Mediante la automatización de los silos y la batea, uno puede controlar el horario de consumo, el peso de alimentos descargados, la cantidad consumida y la cantidad de alimentos disponible dentro del silo.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-paint-brush")
                                                    h5 Facturación y Stock
                                                div(class="back")
                                                    h5 Facturación y Stock
                                                    p Cuenta con un sistema donde realiza el control de sus compras y ventas, así como el control de stock de los productos como los balanceados, sales minerales, suplementos entre otros.
                div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-sm-12")
                            div(class="row")
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-plus")
                                                    h5 Control de Pesaje 
                                                div(class="back")
                                                    h5 Control de Pesaje 
                                                    p Para esto empleamos una báscula electrónica para ganado que envia el pesaje obtenido para ser registrado de manera diaria el aumento de peso de cada animal.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-flickr")
                                                    h5 Registros Varios
                                                div(class="back")
                                                    h5 Registros Varios 
                                                    p Contamos con sistemas de registros de clientes, proveedores, veterinarios, registros de usuarios con sus respectivos niveles asignados entre otros registros de actividades realizados en el corral.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-link")
                                                    h5 Seguridad
                                                div(class="back")
                                                    h5 Seguridad
                                                    p Verificamos el ingreso de las personas autorizadas dentro del corral, implementando cerraduras electromagnéticas en los portones. Cada empleado cuenta con su propia llave para acceder a la misma. 
                div(class="clearfix")
                    h2(class="small-heading") ELIJA SU PLAN
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Básico
                                        p
                                            span(class="price") $19 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li(class="unavailabe") Transferencia de Datos Ilimitado
                                            li(class="unavailabe") 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada
                                       
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Negocio
                                        p
                                            span(class="price") $29 /Mes
                                        ul 
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li(class="unavailabe") 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada
                                        
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Vip
                                        p
                                            span(class="price") $39 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada                                       
                                        
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Pro
                                        p
                                            span(class="price") $49 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li 50 GB de Ancho de Banda
                                            li Seguridad Mejorada
                                        
                <!-- end: pricing section -->
                div(class="clearfix full-height") 
                    h2(class="small-heading") NUESTROS VALIOSOS CLIENTES
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(id="sponsor-list" class="owl-carousel owl-theme")

                                div(class="item")
                                    img(src="/img/imprenta.png" alt="imprenta" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/images.png" alt="oclc" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/kalko.jpg" alt="kalko" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/mega.jpg" alt="mega" class="center-block" style="width: 165px; height: 127px;" )
                                div(class="item")
                                    img(src="/img/hojas.jpg" alt="hojas" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/vector.jpg" alt="vector" class="center-block" style="width: 165px; height: 127px;")
                <!-- end: valuable clients -->
                <!-- Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016 - 2017
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión 
                                        a(href="#" target="_blank")  0.0.1
    <!--8 ) Contact Page-->
    div(id="contact" class="contact-page container-fluid page")
        div(class="row")
            <!--( a ) Contact Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 contactos
            <!--( b ) Contact Page Content -->
            div(class="content-container col-md-9 col-sm-12") 
                <!--( A ) Contact Form -->
                div(class="clearfix full-height")
                    h2(class="small-heading") CONTÁCTENOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="contact-info")
                                div(class="row")
                                    div(class="col-md-6")
                                        div(class="data")
                                            i(class="fa fa-map-marker")
                                            span San Ignacio Mnes. 
                                            br 
                                        div(class="data")
                                            i(class="fa fa-envelope")
                                            span dymifor@hotmail.com
                                        div(class="data")
                                            i(class="fa fa-phone")
                                            span +595- 985 387 789
                                    div(class="col-md-6")
                                        div(id="map-canvas")
                            div(class="row")
                                form(id="nada" class="contact-form" method="post" action='/web/mensaje/cargar')
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group")
                                            input(name="nombre" type="text" class="form-control" id="nombre" required="required" placeholder="  Nombre")
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group")
                                            input(name="email" type="email" class="form-control" id="email" required="required" placeholder="  Email")
                                    div(class="col-md-12 col-sm-12")
                                        textarea(name="mensaje" type="text" class="form-control" id="mensaje" rows="5" required="required" placeholder="  Mensaje")
                                    div(class="col-md-4 col-xs-12")
                                        input(type="submit" id="cfsubmit" class="btn btn-send" value="Enviar")
                                    div(id="contactFormResponse" class="col-md-8 col-xs-12")
                <!-- ( D ) Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright")  Copyright &copy; 2016 - 2017
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión  
                                        a(href="#" target="_blank")  0.0.1
    <!--  9 ) Javascript- -->
  script(type="text/javascript" src="/js/jquery-2.1.3.min.js")
  script(type="text/javascript" src="/js/bootstrap.min.js")
  script(type="text/javascript" src="/js/modernizr.js")
  script(type="text/javascript" src="/js/jquery.easing.min.js")
  script(type="text/javascript" src="/js/jquery.mixitup.min.js")
  script(type="text/javascript" src="/js/jquery.popup.min.js")
  script(type="text/javascript" src="/js/owl.carousel.min.js")
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type="text/javascript" src="/js/contact.min.js")
  script(type="text/javascript" src="/js/script.min.js")
