doctype html
html(lang="es" class="no-js")
  head
      <!-- meta data -->
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1" )
      link(rel='css', href='/css/normalize.css') 
      <!-- title and favicon -->
      title Bonanza :: Sistema de Gestión Ganadera 
      link(rel="icon" href="/img/icon/icono.ico")
      <!--necessary stylesheets -->
      link(type="text/css" rel="stylesheet" href="/css/bootstrap.min.css")
      link(type="text/css" rel="stylesheet" href="/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" href="/css/ionicons.min.css")
      link(type="text/css" rel="stylesheet" href="/css/popup.css")
      link(type="text/css" rel="stylesheet" href="/css/owl.carousel.css")
      link(type="text/css" rel="stylesheet" href="/css/owl.theme.css")
      link(type="text/css" rel="stylesheet" href="/css/style.css")
      link(type="text/css" rel="stylesheet" href="/style/style.css") 
  body
    <!-- Preloader -->
    div(id="preloader")
        div(class="loader")
            span
            span
            span
            span
    <!-- home-page -->
    div(class="home-page")
        div(class="introduction")           
            div(class="intro-content")  
                span Bonanza
                div(class="social-media hidden-xs")        
                    p(class="slogan-text text-capitalize") Sistema de Gestión Ganadera
                    button(class="tero" data-filter="all") Ingresar
                div(class="social-media hidden-xs")
                    a(href="https://www.facebook.com/Bonanza-Sistema-De-Gestion-Ganadera-1767571960144796/?__mref=message_bubble" class="fa fa-facebook" data-toggle="tooltip" title="Facebook")
                    a(href="https://twitter.com/bonanzacomerci2" class="fa fa-twitter" data-toggle="tooltip" title="Twitter")
                    a(href="https://plus.google.com/u/0/117896767859202706058/posts" class="fa fa-plus" data-toggle="tooltip" title="Google+")
                    a(href="#" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin")

            <!-- Social Media Icons [ END ] -->        
        <!-- Navigation Menu -->
        div(class="menu")
            div(data-url_target="about_us" class="profile-btn menu_button")
                img(alt="" src="/img/about.jpg" style="width:100%; height:100%;")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-people-outline hidden-xs")
                    h2 Nosotros           
            <!-- Single Navigation Menu Button -->
            div(data-url_target="portfolio" class="portfolio-btn menu_button")
                img(alt="" src="/img/portfolio.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-briefcase-outline hidden-xs")
                    h2 Portafolio            
            <!-- Single Navigation Menu Button [ END ]  -->
            div(data-url_target="service" class="service-btn menu_button")
                img(alt="" src="/img/service.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-lightbulb-outline hidden-xs")
                    h2 Servicios
            <!-- Single Navigation Menu Button [ END ]  -->
            div(data-url_target="contact" class="contact-btn menu_button")
                img(alt="" src="/img/contact.jpg")
                div(class="mask")
                div(class="heading")
                    i(class="ion-ios-chatboxes-outline hidden-xs")
                    h2 Contactos
            <!-- Single Navigation Menu Button [ END ]  -->    
    <!--4 ) Close Button-->
    div(class="close-btn")
    <!--5 ) Profile Page-->
    div(id="about_us" class="profile-page container-fluid page")
        div(class="row")
            <!--( a ) Profile Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Nosotros
            <!--( b ) Profile Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Story of Glory -->
                div(class="clearfix")
                    h2(class="small-heading") ACERCA DEL SISTEMA
                    div(class="row") 
                        div(class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12")
                                    div(class="video embed-responsive embed-responsive-4by3")
                                        iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/qTSDL94_Y7M" allowfullscreen)
                                div(class="col-md-6 col-sm-12")
                                    div(class="about-us-desc")
                                        p Sistema de Gestión Ganadera Bonanza es una iniciativa que tiene como misión la promoción del uso seguro del aplicativo para las diferentes actividades ganaderas realizadas en la región.
                                        
                                        p Busca fomentar el desarrollo a través de la inclusión de la tecnología digital en el campo con el acompañamiento de la automatización del corral.Está orientado para los productores ganaderos que desean innovar en sus inversiones.Es un sistema fácil de utilizar, segura en el manejo de gestión de datos y confiable porque tiene niveles de acceso para diferentes tipos de usuarios.

                <!--( B ) What Can I Do -->
                div(class="clearfix")
                    h2(class="small-heading") NUESTROS DATOS CURIOSOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-12")
                            div(class="row")
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-code fa-3x")
                                            p(class="count") 1956628
                                            p(class="text-capitalize") lineas de código
                                <!-- Single Service Item [ END ]  -->
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-coffee fa-3x")
                                            p(class="count") 1473
                                            p(class="text-capitalize") tazas de café
                                <!-- Single Service Item [ END ]  -->
                                div(class="services col-md-4  col-xs-12")
                                    div(class="facts")
                                        div(class="facts-overlay")
                                            i(class="fa fa-cubes fa-3x") 
                                            p(class="count") 500
                                            p(class="text-capitalize") proyectos entregados
                                <!-- Single Service Item [ END ]  -->
                div(class="clearfix full-height") 
                    h2(class="small-heading") CONOCER AL EQUIPO
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-xs-12")
                                    div(class="team-member-box center-block text-center")
                                        img(src="/img/team_member1.jpg" class="img-responsive")
                                        h4(class="text-capitalize") viviana forneron
                                        p(class="text-uppercase") analista y documentadora
                                div(class="col-md-6 col-xs-12")
                                    div(class="team-member-box center-block text-center")
                                        img(src="/img/team_member3.jpg" class="img-responsive")
                                        h4(class="text-capitalize") andrea forneron
                                        p(class="text-uppercase") codificadora creativa
                <!--( D ) Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión  
                                        a(href="#" target="_blank") 0.0.1
    div(id="portfolio" class="portfolio-page container-fluid page")
        div(class="row")
            <!--( a ) Portfolio Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Portafolio
            <!--( b ) Portfolio Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Portafolio -->
                div(class="portfolio clearfix full-height")
                    h2(class="small-heading") PORTAFOLIO
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="project-container")
                                div(class="row")
                                    div(class="project-controls")
                                        button(class="filter" data-filter="all") Todas
                                        button(class="filter" data-filter=".graphic-design") Diseño Gráfico
                                        button(class="filter" data-filter=".web-design") Diseño Web
                                        button(class="filter" data-filter=".app-development") Desarrollo de Sistemas
                                    <!-- Portfolio Control Buttons [ END ] -->
                                    div(id="projects" class="projet-items clearfix")
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_1.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-1" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-1")
                                            img(alt="" src="/img/portfolio/image_1.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_2.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-2" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-2")
                                            img(alt="" src="/img/portfolio/image_2.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_3.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-3" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-3")
                                            img(alt="" src="/img/portfolio/image_3.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_4.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-4" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-4")
                                            img(alt="" src="/img/portfolio/image_4.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_5.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-5" class="fa fa-search show-popup")
                                        <!-- Popup Content -->                                        
                                        div(class="pop-up-box" id="portfolio-5")
                                            img(alt="" src="/img/portfolio/image_5.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_6.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-6" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-6")
                                            img(alt="" src="/img/portfolio/image_6.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_7.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-7" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-7")
                                            img(alt="" src="/img/portfolio/image_7.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_8.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-8" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-8")
                                            img(alt="" src="/img/portfolio/image_8.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                                
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_9.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-9" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-9")
                                            img(alt="" src="/img/portfolio/image_9.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                        <!-- Single Portfolio Item [ END ] -->
                                        <!-- Portfolio Image -->
                                        
                                        div(class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design")
                                            div(class="project")
                                                img(src="/img/portfolio/thumbs/image_10.jpg" alt="")
                                                div(class="ovrly")
                                                div(class="buttons")
                                                    a(href="#portfolio-10" class="fa fa-search show-popup")
                                        <!-- Popup Content -->
                                        div(class="pop-up-box" id="portfolio-10")
                                            img(alt="" src="/img/portfolio/image_10.jpg" class=" hidden-xs")
                                            div(class="popup-content")
                                                h3 PROJECT NAME
                                                p Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                                        <!-- Single Portfolio Item [ END ] -->
                <!-- Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016 
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author")  Versión 
                                        a(href="#" target="_blank") 0.0.1        
    <!-- 7 ) Service Page-->    
    div(id="service" class="service-page container-fluid page")
        div(class="row")
            <!--( a ) Portfolio Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 Servicios
            <!--( b ) Portfolio Page Content -->
            div(class="content-container col-md-9 col-sm-12")
                <!--( A ) Portfolio -->
                
                div(class="clearfix")
                    h2(class="small-heading") NUESTROS SERVICIOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-sm-12")
                            div(class="row")

                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-mobile")
                                                    h5 Responsive
                                                div(class="back")
                                                    h5 Responsive
                                                    p La interfaz de usuario se ajustará a cualquier tamaño de pantalla. Desde los dispositivos móviles hasta en los ordenadores al mismo tiempo. 
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-lightbulb-o")
                                                    h5 Bootstrap 
                                                div(class="back")
                                                    h5 Bootstrap 
                                                    p Bootstrap es un primer marco frontal móvil elegante, intuitivo y de gran alcance para el desarrollo web más rápido y más fácil. El Sistema de Gestión Ganadera Bonanza fue construido con esta herramienta que se extiende en gran medida en todo el sistema.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-paint-brush")
                                                    h5 Mobile First
                                                div(class="back")
                                                    h5 Mobile First
                                                    p El diseño se ajusta a medida que se asciende desde dispositivos móviles a las pantallas de escritorio de gran tamaño y no al revés. 
                div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-sm-12")
                            div(class="row")
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-plus")
                                                    h5 Ligera
                                                div(class="back")
                                                    h5 Ligera
                                                    p El Sistema de Gestión Ganadera Bonanza fue creado para ser lo más rápido y ligero posible. Esto mediante la utilización de herramientas que proporcionan una mejor consistencia entre navegadores en el estilo predeterminado de elementos HTML.
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-flickr")
                                                    h5 Disponibilidad
                                                div(class="back")
                                                    h5 Disponibilidad 
                                                    p Usted prodrá acceder al sistema desde cualquier lugar en el que se encuentre, visualizando todos los movimientos que se realize en su estancia en tiempo real. 
                                div(class="col-md-4 col-sm-12")
                                    div(class="faq-desc-item")
                                        div(class="flip-container text-center" ontouchstart="this.classList.toggle('hover');")
                                            div(class="flipper")
                                                div(class="front")
                                                    i(class="fa fa-link")
                                                    h5 Automatización
                                                div(class="back")
                                                    h5 Automatización
                                                    p Le ayudamos a ahorrar tiempo y dinero, brindandole además seguridad para que usted pueda visualizar los costos reales de su inversión. 
                div(class="clearfix")
                    h2(class="small-heading") ELIJA SU PLAN
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Básico
                                        p
                                            span(class="price") $19 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li(class="unavailabe") Transferencia de Datos Ilimitado
                                            li(class="unavailabe") 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada
                                       
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Negocio
                                        p
                                            span(class="price") $29 /Mes
                                        ul 
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li(class="unavailabe") 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada
                                        
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Vip
                                        p
                                            span(class="price") $39 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li 50 GB de Ancho de Banda
                                            li(class="unavailabe") Seguridad Mejorada                                       
                                        
                                div(class="col-md-6 col-sm-6 col-xs-12 price-catagory")
                                    div(class="price-box")
                                        p(class="pricing-catagory-name") Pro
                                        p
                                            span(class="price") $49 /Mes
                                        ul
                                            li 30 GB Almacenamiento
                                            li Transferencia de Datos Ilimitado
                                            li 50 GB de Ancho de Banda
                                            li Seguridad Mejorada
                                        
                <!-- end: pricing section -->
                div(class="clearfix full-height") 
                    h2(class="small-heading") NUESTROS VALIOSOS CLIENTES
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(id="sponsor-list" class="owl-carousel owl-theme")

                                div(class="item")
                                    img(src="/img/imprenta.png" alt="sponsor1" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/imagill.png" alt="sponsor2" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/logistica.png" alt="sponsor3" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/sponsor4.png" alt="sponsor4" class="center-block" style="width: 165px; height: 127px;" )
                                div(class="item")
                                    img(src="/img/sponsor5.png" alt="sponsor5" class="center-block" style="width: 165px; height: 127px;")
                                div(class="item")
                                    img(src="/img/sponsor6.png" alt="sponsor6" class="center-block" style="width: 165px; height: 127px;")
                <!-- end: valuable clients -->
                <!-- Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright") Copyright &copy; 2016 
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión 
                                        a(href="#" target="_blank")  0.0.1
    <!--8 ) Contact Page-->
    div(id="contact" class="contact-page container-fluid page")
        div(class="row")
            <!--( a ) Contact Page Fixed Image Portion -->
            div(class="image-container col-md-3 col-sm-12")
                div(class="mask")
                div(class="main-heading")
                    h1 contactos
            <!--( b ) Contact Page Content -->
            div(class="content-container col-md-9 col-sm-12") 
                <!--( A ) Contact Form -->
                div(class="clearfix full-height")
                    h2(class="small-heading") CONTÁCTENOS
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="contact-info")
                                div(class="row")
                                    div(class="col-md-6")
                                        div(class="data")
                                            i(class="fa fa-map-marker")
                                            span San Ignacio Mnes. 
                                            br 
                                        div(class="data")
                                            i(class="fa fa-envelope")
                                            span bonanza@hotmail.com
                                        div(class="data")
                                            i(class="fa fa-phone")
                                            span +595- 985 387 789
                                    div(class="col-md-6")
                                        div(id="map-canvas")
                            div(class="row")
                                form(id="nada" class="contact-form" method="post" action="mailto:bonanzacomercial@hotmail.com")                                    
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group")
                                            input(name="name" type="text" class="form-control" id="name" required="required" placeholder="  Nombre")
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group")
                                            input(name="email" type="email" class="form-control" id="email" required="required" placeholder="  Email")
                                    div(class="col-md-12 col-sm-12")
                                        textarea(name="massage" type="text" class="form-control" id="message" rows="5" required="required" placeholder="  Mensaje")
                                    div(class="col-md-4 col-xs-12")
                                        input(type="submit" id="cfsubmit" class="btn btn-send" value="Enviar")
                                    div(id="contactFormResponse" class="col-md-8 col-xs-12")
                <!-- ( D ) Footer -->
                div(class="footer clearfix")
                    div(class="row")
                        div(class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1")
                            div(class="row")
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="copyright")  Copyright &copy; 2016
                                        a(href="#") - Bonanza Studio.
                                div(class="col-md-6 col-sm-12 col-xs-12")
                                    p(class="author") Versión  
                                        a(href="#" target="_blank")  0.0.1
    <!--  9 ) Javascript- -->
  script(type="text/javascript" src="/js/jquery-2.1.3.min.js")
  script(type="text/javascript" src="/js/bootstrap.min.js")
  script(type="text/javascript" src="/js/modernizr.js")
  script(type="text/javascript" src="/js/jquery.easing.min.js")
  script(type="text/javascript" src="/js/jquery.mixitup.min.js")
  script(type="text/javascript" src="/js/jquery.popup.min.js")
  script(type="text/javascript" src="/js/owl.carousel.min.js")
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type="text/javascript" src="/js/contact.js")
  script(type="text/javascript" src="/js/script.js")
