extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Insumo
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Insumo
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registrar Insumo  
            form(class="form-horizontal" action='/web/insumo/cargar' method="POST")
              div(class="box-body")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Código de Barra: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="codigoBarra" name='codigoBarra' placeholder="Ingrese el Código de Barras" required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="nombreInsumo" name='nombreInsumo' placeholder="Ingrese el Nombre del Insumo" required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Contenido: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="contenidoInsumo" name='contenidoInsumo' placeholder="Ingrese el Contenido" required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Precio: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="precioCompra" name='precioCompra' placeholder="Ingrese el Precio" required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Tipo de Insumo: 
                  div(class="col-sm-8")  
                    select(id="tipoInsumo" name='tipoInsumo' class="btn btn-default select2")
                      option(value="-1" disabled="disabled" selected) Seleccione una opción
                      option(value="Medicamento") Medicamento
                      option(value="Sal Mineral") Sal Mineral
                      option(value="Balanceado") Balanceado
                      option(value="Balanceado") Varios

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Presentación: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="presentacionInsumo" name='presentacionInsumo' placeholder="Ingrese la Presentación del Insumo" required)
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/insumo" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")
                  