extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Proveedor
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Proveedor
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Registrar Proveedor
            form(class="form-horizontal" action='/web/proveedor/cargar' method="POST")
              div(class="box-body")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") RUC: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="rucProveedor" name='rucProveedor' placeholder="Ingrese el RUC")

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8") 
                    input(type="text" class="form-control" id="nombreProveedor" name='nombreProveedor' placeholder="Ingrese el Nombre")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Direcci贸n: 
                  div(class="col-sm-8")
                    input(type="text"  class="form-control" id="direccionProveedor" name='direccionProveedor' placeholder="Ingrese la Direcci贸n") 

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="tipo") Tipo de Proveedor:
                  div(class="col-sm-8")  
                    select(id="tipoProveedor" name='tipoProveedor' class="btn btn-default select2")
                      option(value="-1" disabled="disabled" selected) Seleccione una opci贸n
                      option(value="Animal") Animal
                      option(value="Insumo") Insumo
                      option(value="Servicio") Servicio

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Ciudad: 
                  div(class="col-sm-8")
                      select(name='selectJ' class="btn btn-default select2")
                        option(value="-1" disabled="disabled" selected) Seleccione una opci贸n
                        -for(var j=0; j < selectJ.length; j++) {
                          option(value="#{selectJ[j].idCiudad}") #{selectJ[j].ciudad}
                        -}   
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/proveedor" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")