extends ../../layout 
block content
  div(class="content-wrapper")
      section(class="content-header")
        h1 Factura Venta Animal
        ol(class="breadcrumb")
          li
            a(href="#")
              i(class="fa fa-dashboard") Registros
          li(class="active") Agregar Venta
      section(class="content")
        div(class="row")  
          div(class="col-md-12") 
            div(class="box box-success")
              div(class="box-header with-border")
                h3(class="box-title") Factura Venta Animal
              form(class="form-horizontal" action='/web/facturaVenta/add' method="POST")
                div(class="box-body")
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="fechaVenta") Fecha de la Venta
                    div(class="col-sm-8")  
                      div(class="input-group date")
                        div(class="input-group-addon")
                          i(class="fa fa-calendar")  
                        input(type="text"  class="form-control pull-right" id="datepicker" name='fechaVenta' required)
                  div(class="form-group")  
                    label(class="col-sm-4 control-label" for="horaPesaje") Hora de la Venta:
                    div(class="col-sm-8")
                      div(class="bootstrap-timepicker")
                        div(class="input-group")
                          div(class="input-group-addon")
                            i(class="fa fa-clock-o")
                          input(type="text" class="form-control timepicker" name='horaVenta' required)   
                
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="email") Condición de la Venta
                    div(class="col-sm-8")  
                      select(id="condicionVenta" name='condicionVenta' class="btn btn-default select2")
                        option(value="-1" disabled="disabled" selected) Seleccione una opción
                        option(value="Contado") Contado
                        option(value="Crédito") Crédito
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="email") Forma de Cobro
                    div(class="col-sm-8")  
                      select(id="formaCobro" name='formaCobro' class="btn btn-default select2")
                        option(value="-1" disabled="disabled" selected) Seleccione una opción
                        option(value="Efectivo") Efectivo
                        option(value="Cheque") Cheque
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="email") Número de Venta
                    div(class="col-sm-8")
                      input(type="text" class="form-control" id="numeroVenta" name='numeroVenta' placeholder="Ingrese el Número de Venta")
                  div(class="form-group")
                    label(class="col-sm-4 control-label" for="email") Cliente:  
                    div(class="col-sm-8")
                      select(id="selectJ" name='selectJ' class="btn btn-default select2")
                        option(value="-1" disabled="disabled" selected) Seleccione Cliente
                        -for(var j=0; j < selectJ.length; j++) {
                          option(value="#{selectJ[j].idCliente}") #{selectJ[j].nombreCliente}
                        -}    
                div(class="box-footer")
                  div(class="btn-group pull-right")
                    button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                      i(class="fa fa-save") 
                    a(href="/web/facturaVenta" class="btn btn-default") Cancelar
                      i(class="fa fa-remove")